


server {
    client_max_body_size 50M;
    listen 80;
    listen [::]:80;
    
    server_name api.agrowdev.tech;
    charset utf-8;
    error_page 404 /error_page.html;
    location = /error_page.html {
            root /opt/agrosite/error;
            internal;
    }

    error_page 500 502 503 504 /error_page50x.html;
    location = /error_page50x.html {
            root /opt/agrosite/error;
            internal;
    }
    location /static/ {
        autoindex on;
        alias /opt/agrosite/static/;
    }
    location /media/ {
        autoindex on;
        alias /opt/agrosite/media/;
    }
    location = /.well-known/acme-challenge/jHPaSqQJLOmzCVmn2Av7Qp5pNDHIE97Q6RqvXEHjZQ4 {
        default_type text/plane;
        alias /opt/agrosite/config/nginx/ssl/jHPaSqQJLOmzCVmn2Av7Qp5pNDHIE97Q6RqvXEHjZQ4;
    }

    return 301 https://$host$request_uri;
    
}
server {
    listen 443 ssl;
    listen [::]:443 ssl;
    ssl on;
    server_name api.agrowdev.tech;
    ssl_certificate /etc/nginx/certs/certificate.crt;
    ssl_certificate_key /etc/nginx/certs/private.key;
    client_max_body_size 100M;
    
    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;  # <-
        proxy_set_header Host $http_host;
        proxy_redirect off;

        if (!-f $request_filename) {
            proxy_pass http://webserver:8000;
            break;
        }
    }
}
