{% extends "main/layout.html" %}
{% load static %}
{% load blogs_info %}
{% block meta %}
    {% if tag_name %}
        <title>{{ page_type }}:{{ tag_name }} | {{ SITE_DESCRIPTION }}</title>
        {% comment %}<meta name="description" content="{{ page_type }}:{{ tag_name }}"/>{% endcomment %}
    {% else %}
        <title>About {{ SITE_NAME }} | {{ SITE_DESCRIPTION }}</title>
    {% endif %}
    <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="about"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
    <meta property="og:image" content="https://www.herokucdn.com/images/og.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
{% endblock %}
{% block content %}


        <div class="our-customer services-padding">
            <div class="container-fluid">
            <div class="our-customer-wrapper">
                    <!-- Section Tittle -->
                    <div class="row d-flex justify-content-center">
                        <div class="col-xl-8">
                            <div class="section-tittle text-center">
                                <h2 class="heading">What Our <span class="accent">Customers</span>
                                    <br>  Have <span class="accent">to </span>Say.
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="customar-active dot-style d-flex">
                                <div class="single-customer mb-100">
                                    <div class="what-img">
                                        <img src= "{% static 'app/img/shape/man1.png' %}" alt="">
                                    </div>
                                    <div class="what-cap">
                                        <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                        <p>Utenim ad minim veniam quisnostrud exercitation ullamcolabor nisiut aliquip ex ea commodo consequat duis aute irure dolor in represse.</p>
                                    </div>
                                </div>
                            
                                <div class="single-customer mb-100">
                                    <div class="what-img">
                                        <img src= "{% static 'app/img/shape/man2.png' %}" alt="">
                                    </div>
                                    <div class="what-cap">
                                        <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                        <p>Utenim ad minim veniam quisnostrud exercitation ullamcolabor nisiut aliquip ex ea commodo consequat duis aute irure dolor in represse.</p>
                                    </div>
                                </div>
                            
                                <div class="single-customer mb-100">
                                    <div class="what-img">
                                        <img src= "{% static 'app/img/shape/man3.png' %}" alt="">
                                    </div>
                                    <div class="what-cap">
                                        <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                        <p>Utenim ad minim veniam quisnostrud exercitation ullamcolabor nisiut aliquip ex ea commodo consequat duis aute irure dolor in represse.</p>
                                    </div>
                                </div>
                            
                                <div class="single-customer mb-100">
                                    <div class="what-img">
                                        <img src= "{% static 'app/img/shape/man2.png' %}" alt="">
                                    </div>
                                    <div class="what-cap">
                                        <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                                        <p>Utenim ad minim veniam quisnostrud exercitation ullamcolabor nisiut aliquip ex ea commodo consequat duis aute irure dolor in represse.</p>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>           
        <!-- Our Customer End -->
    <!-- ***** Team Member Area Start ***** -->
    <section class="portfolio-area">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-tittle text-center">
                        <h2 class="heading">Team <span class="accent">of </span>Experts</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <!-- Team Member Slides -->
                <div class="col-md-4">
                    <div class="d-flex">

                        <!-- Single Team Slide -->
                        {% for expert in experts %}
                        <div class="single-team-slide">
                            <img height="350" src="{{expert.cover.url}}" alt="{{ expert.name }}">
                            <!-- Overlay Effect -->
                            <div class="overlay-effect">
                                <h6>{{ expert.role }}</h6>
                                <h4>{{ expert.name }}</h4>
                                <p>{{ expert.about }}</p>
                            </div>
                            <!-- Social Info -->
                            <div class="team-social-info">
                                {% if expert.facebook != ''%}
                                    <a href="{{ expert.facebook }}" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa ti-facebook"></i></a>
                                {% endif %}
                                {% if expert.twitter != ''%}
                                    <a href="{{ expert.twitter }}" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa ti-twitter"></i></a>
                                {% endif %}
        
                                {% if expert.instagram != ''%}
                                    <a href="{{ expert.instagram }}" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa ti-instagram"></i></a>
                                {% endif %}
                                {% if expert.github != ''%}
                                    <a href="{{ expert.github }}" class="github" data-toggle="tooltip" data-placement="top" title="GitHub"><i class="fa ti-github"></i></a>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                   </div>
                </div>
            </div>
        </div>

        <!-- Border -->
        <div class="container">
            <div class="border-line mt-80"></div>
        </div>
    </section>
    <!-- ***** Team Member Area End ***** -->
    <!-- ***** Why Choose Us Area End ***** -->
    <section class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <div class="section-tittle text-center">
                <h2 class="heading">Image <span class="accent">gallery</h2>
            </div>
				
				<div class="row gallery-item">
					<div class="col-md-4">
						<a href="{% static 'app/img/elements/g1.jpg' %}" class="img-pop-up">
							<div class="single-gallery-image" style="background: url({% static "app/img/elements/g1.jpg" %});"></div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'app/img/elements/g2.jpg' %}" class="img-pop-up">
							<div class="single-gallery-image" style="background: url({% static "app/img/elements/g2.jpg" %});"></div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'app/img/blog/blog_1.png' %}" class="img-pop-up">
							<div class="single-gallery-image" style="background: url({% static "app/img/blog/blog_1.png" %});"></div>
						</a>
					</div>
					<div class="col-md-6">
						<a href="{% static 'app/img/elements/g4.jpg' %}" class="img-pop-up">
							<div class="single-gallery-image" style="background: url({% static "app/img/elements/g4.jpg" %});"></div>
						</a>
					</div>
					<div class="col-md-6">
						<a href="{% static 'app/img/elements/g5.jpg' %}" class="img-pop-up">
							<div class="single-gallery-image" style="background: url({% static "app/img/elements/g5.jpg" %});"></div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'app/img/blog/blog_3.png' %}" class="img-pop-up">
							<div class="single-gallery-image" style="background: url({% static "app/img/blog/blog_3.png" %});"></div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'app/img/elements/g7.jpg' %}" class="img-pop-up">
							<div class="single-gallery-image" style="background: url({% static "app/img/elements/g7.jpg" %});"></div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'app/img/elements/g8.jpg' %}" class="img-pop-up">
							<div class="single-gallery-image" style="background: url({% static "app/img/elements/g8.jpg" %});"></div>
						</a>
					</div>
				</div>
			</div>
        </section>
     <!-- Our Customer Start -->
    <!-- ***** Why Choose Us Area Start ***** -->
    <section class="available-app-area">
        <div class="container">
            <div class="row align-items-center">
                <!-- Choose Us Content -->
                <div class="col-12 col-lg-6">
                    <div class="app-caption">
                        <div class="section-tittle section-tittle3">
                            <h2>Why Choose Us</h2>
                            <p>We’re Your Partner in Your Success</p>
                        </div>
                        <p><i class="fa fa-check" aria-hidden="true"></i> Distinctive Experts That Provide Effortless Expertise</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i> Distinctive Experts That Provide Effortless Expertise</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i> Distinctive Experts That Provide Effortless Expertise</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i> Distinctive Experts That Provide Effortless Expertise</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i> Distinctive Experts That Provide Effortless Expertise</p>
                        <p><i class="fa fa-check" aria-hidden="true"></i> Distinctive Experts That Provide Effortless Expertise</p>
                    </div>
                </div>
                <!-- Choose Us Thumbnail -->
                <div class="col-xl-6 col-lg-6">
                    <div class="app-img">
                        <img src="{% static 'app/img/shape/available-app.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Shape -->
            <div class="app-shape">
                <img src="{% static 'app/img/shape/app-shape-top.png' %}" alt="" class="app-shape-top heartbeat d-none d-lg-block">
                <img src="{% static 'app/img/shape/app-shape-left.png' %}" alt="" class="app-shape-left d-none d-xl-block">
                <!-- <img src="{% static 'app/img/shape/app-shape-right.png' %}" alt="" class="app-shape-right bounce-animate "> -->
            </div>
    </section>
    
    
   

    


{% endblock %}
