{% extends "main/layout.html" %}
{% load staticfiles %}
{% load blogs_info %}
{% block meta %}
    {% if tag_name %}
        <title>{{ page_type }}:{{ tag_name }} | {{ SITE_DESCRIPTION }}</title>
        {% comment %}<meta name="description" content="{{ page_type }}:{{ tag_name }}"/>{% endcomment %}
    {% else %}
        <title>{{ SITE_NAME }} | {{ SITE_DESCRIPTION }}</title>
    {% endif %}
    <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
{% endblock %}
    <!-- ***** Welcome Area Start ***** -->
{% block compress_css %}
    <link rel="stylesheet" href="{% static 'accounts/accounts.css' %}">
{% endblock %}
{% block script_extends %}
    <script src="{% static 'accounts/accounts.js' %}"></script>
{% endblock %}

{% block content %}
<div class="limiter " style="margin-top:90px">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="{% url 'accounts:login' %}" method="POST">
                {% csrf_token %}
					<span class="login100-form-title  mb-5">
						Login to continue
					</span>
					
					{{ form.non_field_errors }}
                    {% for field in form %}
                        <div class="wrap-input100 validate-input" data-validate = "{{ field.error }}">
                            {{ field}}
                            <span class="focus-input100"></span>
                            <span class="label-input100">{{ field.label }}</span>
                        </div>
                    {% endfor %}


					<div class="flex-sb-m w-full mb-5 pt-3">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div class="" style="float:right;">
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div>
			

					<div class="container-login100-form-btn">
						<button type='submit' class="login100-form-btn">
							Login
						</button>
					</div>
					
					<div class="text-center pt-3 pb-5">
						<span class="txt2">
							or sign up using
						</span>
					</div>

					<div class="login100-form-social flex-c-m">
						<a href="#" class="login100-form-social-item flex-c-m bg1 mr-5">
							<i class="fa ti-facebook" aria-hidden="true"></i>
						</a>
                        <a href="#" class="login100-form-social-item flex-c-m bg2 mr-5">
							<i class="fa ti-twitter" aria-hidden="true"></i>
						</a>
					</div>
                    <div class="text-center">
                        No account yet?<a href="{% url 'accounts:register' %}" class="btn btn-info">Register</a>
                    </div>
				</form>
				<div class="login100-more" style="background-image: url('/static/app/img/banner/img.png');">
				</div>
			</div>
		</div>
	</div>
{% endblock %}


