{% extends "main/layout.html" %}
{% load staticfiles %}
{% load blogs_info %}
{% block meta %}
    {% if tag_name %}
        <title>{{ page_type }}:{{ tag_name }} | {{ SITE_DESCRIPTION }}</title>
        {% comment %}<meta name="description" content="{{ page_type }}:{{ tag_name }}"/>{% endcomment %}
    {% else %}
        <title>{{ SITE_NAME }} | {{ SITE_DESCRIPTION }}</title>
    {% endif %}
    <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
        <img class="img-circle profile-img" src="{% static 'app/img/avatar.png' %}" alt="">
            <form class="form-horizontal" method="POST">
                <span class="heading">User registration</span>
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                {% endfor %}


                <button class="btn btn-lg btn-primary btn-block" type="submit">Create Your Account</button>
            </form>

            <div class="form-horizontal_register">
               Existing account？<a href="{% url 'account:login' %}"><button type="submit" class="btn btn-default btn-danger">log in</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}



