.row img {
	max-width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}


  .card-container {
	background-color: #231E39;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 100%;
	max-width: 100%;
	text-align: center;
}

.card-container .pro {
	color: #231E39;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}

button.primary {
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: #02899C;
}

.skills {
	background-color: #1F1A36;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}


.outer-div, .inner-div {
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}

.outer-div {
	perspective: 900px;
	perspective-origin: 50% calc(50% - 18em);
}

.inner-div {
	margin: 50px auto;
	border-radius: 5px;
	font-weight: 400;
	color: #071011;
	font-size: 1rem;
	text-align: center;
	transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
	transform-style: preserve-3d;
}
.inner-div:hover {
	transform: rotateY(180deg);
	background-color: transparent;
}
.inner-div:hover .social-icon {
	opacity: 1;
	top: 0;
}
.inner-div:hover .front__face-photo, .inner-div:hover .front__footer {
	opacity: 0;
}
.back {
	transform: rotateY(180deg);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #071011;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.social-media-wrapper {
	font-size: 36px;
}
.social-media-wrapper .social-icon {
	position: relative;
	top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	opacity: 0;
	color: #fff;
	transition: all 0.4s cubic-bezier(0.3, 0.7, 0.1, 1.9);
}
.social-media-wrapper .social-icon:nth-child(1) {
	transition-delay: 0.6s;
}
.social-media-wrapper .social-icon:nth-child(2) {
	transition-delay: 0.7s;
}
.social-media-wrapper .social-icon:nth-child(3) {
	transition-delay: 0.8s;
}
.social-media-wrapper .social-icon:nth-child(4) {
	transition-delay: 0.9s;
}