/* line 1, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
.job_details_area {
    background: #F5F7FA;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  /* line 5, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .single_jobs {
    padding: 30px;
    border-bottom: 1px solid #EAEAEA;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  @media (max-width: 767px) {
    /* line 5, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
    .job_details_area .single_jobs {
      display: block !important;
    }
  }
  
  @media (max-width: 767px) {
    /* line 13, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
    .job_details_area .single_jobs .jobs_left {
      display: block !important;
      overflow: hidden;
    }
  }
  
  /* line 18, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .single_jobs .jobs_left .thumb {
    float: left;
    width: 82px;
    height: 82px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    background: #F5F7FA;
    margin-right: 25px;
    border: 1px solid #F0F0F0;
  }
  
  /* line 32, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .single_jobs .jobs_left .jobs_conetent {
    float: left;
  }
  
  /* line 34, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .single_jobs .jobs_left .jobs_conetent h4 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 400;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  @media (max-width: 767px) {
    /* line 34, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
    .job_details_area .single_jobs .jobs_left .jobs_conetent h4 {
      margin-top: 15px;
    }
  }
  
  /* line 42, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .single_jobs .jobs_left .jobs_conetent h4:hover {
    color: #00D363;
  }
  
  @media (max-width: 767px) {
    /* line 46, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
    .job_details_area .single_jobs .jobs_left .jobs_conetent .links_locat {
      display: block !important;
    }
  }
  
  /* line 50, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .single_jobs .jobs_left .jobs_conetent .links_locat .location {
    margin-right: 50px;
  }
  
  @media (max-width: 767px) {
    /* line 50, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
    .job_details_area .single_jobs .jobs_left .jobs_conetent .links_locat .location {
      margin-right: 10px;
    }
  }
  
  /* line 55, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .single_jobs .jobs_left .jobs_conetent .links_locat .location p {
    margin-bottom: 0;
    font-size: 16px;
    color: #AAB1B7;
  }
  
  /* line 59, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .single_jobs .jobs_left .jobs_conetent .links_locat .location p i {
    margin-right: 7px;
  }
  
  @media (max-width: 767px) {
    /* line 68, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
    .job_details_area .single_jobs .jobs_right .apply_now {
      margin: 10px 0;
    }
  }
  
  /* line 73, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .single_jobs .jobs_right .apply_now a.heart_mark {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #00D363;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    background: #EFFDF5;
  }
  .job_details_area .single_jobs .jobs_right .apply_now button.heart_mark {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #00D363;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    background: #EFFDF5;
  }
  /* line 83, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .single_jobs .jobs_right .apply_now a.heart_mark:hover {
    background: #00D363;
    color: #fff;
  }
  .job_details_area .single_jobs .jobs_right .apply_now button.heart_mark:hover {
    background: #00D363;
    color: #fff;
  }
  /* line 88, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .single_jobs .jobs_right .apply_now a.boxed-btn3 {
    padding: 9px 27px 9px 27px;
    font-size: 14px;
  }
  
  /* line 94, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .single_jobs .jobs_right .date {
    text-align: right;
    margin-top: 10px;
  }
  
  @media (max-width: 767px) {
    /* line 94, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
    .job_details_area .single_jobs .jobs_right .date {
      text-align: left;
    }
  }
  
  /* line 100, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .single_jobs .jobs_right .date p {
    margin-bottom: 0;
    font-size: 14px;
    font-style: italic;
    color: #7A838B;
  }
  
  /* line 110, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .descript_wrap {
    padding: 40px;
  }
  
  /* line 112, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .descript_wrap .single_wrap {
    margin-bottom: 30px;
  }
  
  /* line 114, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .descript_wrap .single_wrap:last-child {
    margin-bottom: 0;
  }
  
  /* line 117, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .descript_wrap .single_wrap h4 {
    font-size: 20px;
    font-weight: 500;
    color: #001D38;
    margin-bottom: 25px;
  }
  
  /* line 123, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .descript_wrap .single_wrap p {
    color: #7A838B;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
  }
  
  /* line 130, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .descript_wrap .single_wrap ul li {
    font-size: 16px;
    line-height: 32px;
    color: #7A838B;
    font-weight: 400;
    position: relative;
    padding-left: 25px;
  }
  
  /* line 137, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .descript_wrap .single_wrap ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 7px;
    height: 7px;
    background: #7A838B;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 12px;
  }
  
  /* line 152, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .apply_job_form {
    margin-top: 30px;
    padding: 40px;
  }
  
  @media (max-width: 767px) {
    /* line 152, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
    .job_details_area .apply_job_form {
      padding: 30px;
    }
  }
  
  /* line 158, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .apply_job_form h4 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  /* line 164, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .apply_job_form .input_field input, .job_details_area .apply_job_form .input_field textarea {
    height: 60px;
    border: 1px solid #E8E8E8;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
  /* line 171, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .apply_job_form .input_field input::placeholder, .job_details_area .apply_job_form .input_field textarea::placeholder {
    color: #7A838B;
    font-size: 16px;
  }
  
  /* line 175, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .apply_job_form .input_field input:focus, .job_details_area .apply_job_form .input_field textarea:focus {
    outline: none;
  }
  
  /* line 179, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .apply_job_form .input_field textarea {
    height: 188px;
    padding: 20px;
  }
  
  /* line 184, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .apply_job_form .input_field.file_up input {
    position: relative;
  }
  
  /* line 186, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .apply_job_form .input_field.file_up input:before {
    position: absolute;
    left: 0;
    top: 0;
    content: 'Upload CV';
  }
  
  /* line 195, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .apply_job_form .input-group {
    width: 100%;
    height: 60px;
    border-radius: 5px !important;
    margin-bottom: 20px;
    border: 1px solid #ddd;
  }
  
  /* line 201, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .apply_job_form .input-group button {
    background: transparent;
    border: none;
    font-size: 16px;
    color: #7A838B;
    padding-left: 20px;
    margin-right: 5px;
  }
  
  /* line 209, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .apply_job_form .input-group .custom-file {
    margin-bottom: 0;
    height: 60px;
    border: none;
  }
  
  /* line 214, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .apply_job_form .input-group .custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    padding: 0;
    line-height: 60px;
    color: #7A838B;
    background-color: transparent;
    border-radius: 0;
    border: none;
  }
  
  /* line 228, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .apply_job_form .input-group .custom-file-input {
    height: 100%;
  }
  
  /* line 233, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .job_sumary {
    background: #fff;
  }
  
  @media (max-width: 767px) {
    /* line 233, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
    .job_details_area .job_sumary {
      margin-top: 30px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 233, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
    .job_details_area .job_sumary {
      margin-top: 30px;
    }
  }
  
  /* line 241, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .job_sumary .summery_header {
    border-bottom: 1px solid #EAEAEA;
    padding: 40px;
  }
  
  @media (max-width: 767px) {
    /* line 241, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
    .job_details_area .job_sumary .summery_header {
      padding: 30px;
    }
  }
  
  /* line 247, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .job_sumary .summery_header h3 {
    font-size: 24px;
    color: #001D38;
    font-weight: 400;
  }
  
  /* line 253, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .job_sumary .job_content {
    padding: 40px;
  }
  
  @media (max-width: 767px) {
    /* line 253, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
    .job_details_area .job_sumary .job_content {
      padding: 30px;
    }
  }
  
  /* line 259, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .job_sumary .job_content ul li {
    font-size: 16px;
    font-weight: 400;
    color: #AAB1B7;
    line-height: 38px;
    padding-left: 18px;
    position: relative;
  }
  
  /* line 266, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .job_sumary .job_content ul li::before {
    position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid #AAB1B7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: 0;
    content: '';
    top: 16px;
  }
  
  /* line 277, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .job_sumary .job_content ul li span {
    color: #001D38;
  }
  
  /* line 284, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .share_wrap {
    background: #fff;
    margin: 30px 0;
    padding: 20px;
  }
  
  /* line 288, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .share_wrap span {
    font-size: 16px;
    font-weight: 500;
    color: #001D38;
    margin-right: 20px;
  }
  
  /* line 295, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .share_wrap ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  /* line 298, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .share_wrap ul li a {
    font-size: 16px;
    color: #D5D5D5;
  }
  
  /* line 301, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .share_wrap ul li a:hover {
    color: #00D363;
  }
  
  /* line 308, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
  .job_details_area .job_location_wrap {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
  }
  .custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(calc(2.25rem + 2px) - 1px * 2);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
    margin-bottom: 0;
    height: 60px;
    display: none !important;
  }
  .boxed-btn3 {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#F91842+0,fd8e5e+100 */
    background: #00D363;
    color: #fff;
    display: inline-block;
    padding: 13px 29px 13px 29px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border: 1px solid transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    color: #fff !important;
    text-transform: capitalize;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
  }
  
  /* line 43, ../../Arafath/CL/December/235. Job board/HTML/scss/_btn.scss */
  .boxed-btn3:hover {
    color: #00D363 !important;
    border: 1px solid #00D363;
    background: transparent;
  }
  
  /* line 48, ../../Arafath/CL/December/235. Job board/HTML/scss/_btn.scss */
  .boxed-btn3:focus {
    outline: none;
  }
  .post-details3{padding:30px 30px 30px 30px;border:1px solid #ededed}
  .post-details3 ul li{display:flex;justify-content:space-between;margin-bottom:12px}
   .post-details3 ul li:last-child{margin-bottom:50px}
  .small-section-tittle h4{color:#28395a;font-size:18px;font-weight:600;line-height:1.2;margin-bottom:20px}
  .small-section-tittle2 h4{color:#1e2147;font-size:18px;font-weight:600;line-height:1.2;margin-bottom:20px}
  .small-section-tittle2 .ion{float:left;padding-right:16px}.section-tittle2 h2{margin-bottom:35px}
  
      /* line 1, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
  .job_listing_area {
    background: #F5F7FA;
    padding-bottom: 80px;
  }
  
  /* line 4, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
  .job_listing_area.plus_padding {
    padding-top: 100px;
  }
  
  @media (max-width: 767px) {
    /* line 4, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
    .job_listing_area.plus_padding {
      padding-top: 60px;
    }
  }
  
  @media (max-width: 767px) {
    /* line 10, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
    .job_listing_area .brouse_job {
      text-align: left !important;
      margin-top: 20px;
    }
  }
  
  /* line 16, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
  .job_listing_area .job_lists {
    margin-top: 50px;
  }
  
  /* line 18, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
  .job_listing_area .job_lists .single_jobs {
    padding: 30px;
    margin-bottom: 12px;
    border: 1px solid transparent;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  @media (max-width: 767px) {
    /* line 18, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
    .job_listing_area .job_lists .single_jobs {
      display: block !important;
    }
  }
  
  @media (max-width: 767px) {
    /* line 27, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
    .job_listing_area .job_lists .single_jobs .jobs_left {
      display: block !important;
      overflow: hidden;
    }
  }
  
  /* line 32, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
  .job_listing_area .job_lists .single_jobs .jobs_left .thumb {
    float: left;
    width: 82px;
    height: 82px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    background: #F5F7FA;
    margin-right: 25px;
    border: 1px solid #F0F0F0;
  }
  
  /* line 46, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
  .job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent {
    float: left;
  }
  
  /* line 48, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
  .job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent h4 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 400;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  @media (max-width: 767px) {
    /* line 48, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
    .job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent h4 {
      margin-top: 15px;
    }
  }
  
  /* line 56, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
  .job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent h4:hover {
    color: #00D363;
  }
  
  @media (max-width: 767px) {
    /* line 60, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
    .job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent .links_locat {
      display: block !important;
    }
  }
  
  /* line 64, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
  .job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent .links_locat .location {
    margin-right: 50px;
  }
  
  @media (max-width: 767px) {
    /* line 64, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
    .job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent .links_locat .location {
      margin-right: 10px;
    }
  }
  
  /* line 69, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
  .job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent .links_locat .location p {
    margin-bottom: 0;
    font-size: 16px;
    color: #AAB1B7;
  }
  
  /* line 73, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
  .job_listing_area .job_lists .single_jobs .jobs_left .jobs_conetent .links_locat .location p i {
    margin-right: 7px;
  }
  
  @media (max-width: 767px) {
    /* line 82, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
    .job_listing_area .job_lists .single_jobs .jobs_right .apply_now {
      margin: 10px 0;
    }
  }
  
  /* line 87, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
  .job_listing_area .job_lists .single_jobs .jobs_right .apply_now a.heart_mark {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #00D363;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    background: #EFFDF5;
    margin-right: 15px;
  }
  .job_listing_area .job_lists .single_jobs .jobs_right .apply_now button.heart_mark {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #00D363;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    background: #EFFDF5;
    margin-right: 15px;
  }
  /* line 98, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
  .job_listing_area .job_lists .single_jobs .jobs_right .apply_now a.heart_mark:hover {
    background: #00D363;
    color: #fff;
  }
  
  .job_listing_area .job_lists .single_jobs .jobs_right .apply_now button.heart_mark:hover {
    background: #00D363;
    color: #fff;
  }
  
  /* line 103, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
  .job_listing_area .job_lists .single_jobs .jobs_right .apply_now a.boxed-btn3 {
    padding: 9px 27px 9px 27px;
    font-size: 14px;
  }
  
  /* line 109, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
  .job_listing_area .job_lists .single_jobs .jobs_right .date {
    text-align: right;
    margin-top: 10px;
  }
  
  @media (max-width: 767px) {
    /* line 109, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
    .job_listing_area .job_lists .single_jobs .jobs_right .date {
      text-align: left;
    }
  }
  
  /* line 115, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
  .job_listing_area .job_lists .single_jobs .jobs_right .date p {
    margin-bottom: 0;
    font-size: 14px;
    font-style: italic;
    color: #7A838B;
  }
  
  /* line 123, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
  .job_listing_area .job_lists .single_jobs:hover {
    border-color: #B2F2D0;
  }
  
  /* line 130, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_list.scss */
  
  .boxed-btn3 {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#F91842+0,fd8e5e+100 */
    background: #00D363;
    color: #fff;
    display: inline-block;
    padding: 13px 29px 13px 29px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border: 1px solid transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    color: #fff !important;
    text-transform: capitalize;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
  }
  
  /* line 43, ../../Arafath/CL/December/235. Job board/HTML/scss/_btn.scss */
  .boxed-btn3:hover {
    color: #00D363 !important;
    border: 1px solid #00D363;
    background: transparent;
  }
  
  /* line 48, ../../Arafath/CL/December/235. Job board/HTML/scss/_btn.scss */
  .boxed-btn3:focus {
    outline: none;
  }
  .job-category-listing{padding:0px}
  @media only screen and (min-width: 992px) and (max-width: 1199px)
  {.job-category-listing{padding:0px}}
  @media only screen and (min-width: 768px) and (max-width: 991px){.job-category-listing{padding:0px}}
  .job-category-listing .single-listing .select-job-items2 .nice-select{width:100%;height:45px;background:#fff;border-radius:0px;padding:11px 19px 11px 10px;color:#616875;line-height:20px;border:1px solid #ededed}
  @media (max-width: 767px){.job-category-listing .single-listing .select-job-items2 .nice-select{margin-bottom:20px;padding-left:25px}}@media only screen and (min-width: 576px) and (max-width: 767px){.job-category-listing .single-listing .select-job-items2 .nice-select{margin-bottom:20px;padding-left:25px}}.job-category-listing .single-listing .select-job-items2 .nice-select .list{width:100%}.job-category-listing .single-listing .select-job-items2 .nice-select.open .list{width:100%;border-radius:0;border:0}.job-category-listing .single-listing .select-job-items2 .nice-select::after{border-bottom:1px solid #a9b6cd;border-right:1px solid #a9b6cd;height:12px;width:12px;margin-top:-9px;right:29px}.job-category-listing .single-listing .select-Categories .container{display:block;position:relative;padding-left:35px;margin-bottom:12px;cursor:pointer;font-size:22px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;color:#666666;font-size:16px}@media (max-width: 767px){.job-category-listing .single-listing .select-Categories .container{font-size:14px}}.job-category-listing .single-listing .select-Categories .container input{position:absolute;opacity:0;cursor:pointer;height:0;width:0}.job-category-listing .single-listing .select-Categories .checkmark{position:absolute;top:0;left:0;height:24px;width:24px;border:1px solid  #ddd}.job-category-listing .single-listing .select-Categories .container input:checked ~ .checkmark{background-color:#00D363;border:2px solid transparent}.job-category-listing .single-listing .select-Categories .checkmark:after{content:"";position:absolute;display:none}.job-category-listing .single-listing .select-Categories .container input:checked ~ .checkmark:after{display:block}.job-category-listing .single-listing .select-Categories .container .checkmark::after{left:8px;top:1px;width:6px;height:14px;border:solid white;border-width:0px 2px 2px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
  .mb-45 {
      margin-bottom: 45px;
  }
  .small-section-tittle2 .ion {
      float: left;
      padding-right: 16px;
  }
  .recent_joblist {
      padding: 15px 20px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin-bottom: 20px;
  }

  
  .cv-bg {
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 767px){
    .online-cv {
        padding-top: 80px;
        padding-bottom: 90px;
    }
}
.section-overly {
    position: relative;
    z-index: 0;
}
.pb-120 {
    padding-bottom: 120px;
}
.pt-90 {
    padding-top: 90px;
}

.online-cv .cv-caption .pera1 {
    font-family: "Muli",sans-serif;
    color: #fff;
    text-transform: uppercase;
}
@media (max-width: 767px){
    .online-cv .cv-caption .pera1 {
        margin-bottom: 25px;
    }
}


.cv-caption a:hover {
    color: #fff;
}
.online-cv .cv-caption .pera2 {
    font-family: "Muli",sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.3;
    margin-bottom: 51px;
}
@media (max-width: 767px){
    .online-cv .cv-caption .pera2 {
        font-size: 27px;
    }
}
.border-btn2 {
    border: 1px solid #8b92dd;
    color: #8b92dd;
    font: "Muli",sans-serif;
    background: none;
    -moz-user-select: none;
    padding: 19px 69px;
    margin: 0px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
    border-radius: 5px;
    position: relative;
    transition: color 0.4s linear;
    position: relative;
    overflow: hidden;
    margin: 0;
}
.border-btn4 {
    border: 1px solid #fff;
    color: #fff;
}
.border-btn2:hover::before {
    transform: scaleY(1);
    order: 2px solid transparent;
}
.border-btn2::before {
    border: 1px solid transparent;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #8b92dd;
    z-index: -1;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleY(0);
    border-radius: 0px;
}
.section-overly::before {
    position: absolute;
    content: "";
    background-color: rgba(31,43,123,0.8);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat;
}