{% extends "main/layout.html" %}
{% load static %}
{% block content %}



<!-- ****** Gallery Area Start ****** -->
<section class="service-area services-padding">

    <!-- Portfolio Menu -->
    <div class="portfolio-menu text-center mb-80">
        <button class="btn active" data-filter="*">All Portfolio</button>
        <button class="btn" data-filter=".ux-ui-design">UX/UI Design</button>
        <button class="btn" data-filter=".market-analytics">Market Analytics</button>
        <button class="btn" data-filter=".marketing-social">Marketing Social</button>
    </div>

    <div class="container-fluid">
        <div class="row uza-portfolio">

            <!-- Single Portfolio Item -->
            {% for portfolio in lists %}
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 single-portfolio-item market-analytics">
                    <div class="single-portfolio-slide">
                        <img alt="{{ portfolio.name }}" src="{% url 'blogs:blogs' %}media/{{ portfolio.cover }}">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>{{ portfolio.title }}</h4>
                            <p>{{ portfolio.excerpt }}</p>
                        </div>
                        <!-- View More -->
                        <div class="view-more-btn">
                            <a href="{{ portfolio.get_absolute_url }}"><i class="arrow_right"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            

        </div>

        <div class="row">
            <div class="col-12 text-center mt-30">
                <a href="#" class="btn uza-btn btn-3">Load More</a>
            </div>
        </div>
    </div>
</section>
<!-- ****** Gallery Area End ****** -->

{% endblock %}