{% extends "main/layout.html" %}
{% load static %}
{% load blogs_info %}
{% load portfolio_tags %}
{% block meta %}
    {% if tag_name %}
        <title>{{ page_type }}:{{ tag_name }} | {{ SITE_DESCRIPTION }}</title>
        {% comment %}<meta name="description" content="{{ page_type }}:{{ tag_name }}"/>{% endcomment %}
    {% else %}
        <title>portfolio | {{ SITE_DESCRIPTION }}</title>
    {% endif %}
    <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="portfolio"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
{% endblock %}
{% block compress_css %}
	<link rel="stylesheet" href="{% static 'portfolio/style.css' %}"> 
    <link rel="stylesheet" href="{% static 'portfolio/base.css' %}"> 
{%endblock%}
{% block content %}


<!-- ****** Gallery Area Start ****** -->

<section class=" mt-80 pt-5">

    <!-- portfolio Menu -->
    <div class="portfolio-menu text-center mb-80">
        <button class="portfolio_button raise" data-filter="*">All portfolio</button>
        <button class="portfolio_button raise" data-filter=".ux-ui-design">UX/UI Design</button>
        <button class="portfolio_button raise" data-filter=".market-analytics">Market Analytics</button>
        <button class="portfolio_button raise" data-filter=".marketing-social">Marketing Social</button>
    </div>
    
</section>
<!-- ****** Gallery Area End ****** -->


        <div class="container-fluid">
            <div class="row">

                        {% for portfolio in portfolios %}
                            {% load_portfolio_card portfolio %}
                        {% endfor %}
                    
                 <!-- / row -->
            </div>
	    </div>
        
<!-- Modal -->
{% for portfolio in portfolios %}
    {% load_portfolio_modal portfolio %}
{% endfor%}
{% endblock %}
{% block script_extends %}
<script src="{% static 'portfolio/TweenMax.min.js' %}"></script>
<script src="{% static 'portfolio/scripts.js' %}"></script>
<script src="{% static 'portfolio/demo.js' %}"></script>
{% endblock %}