{% extends 'main/layout.html' %}
{% load blog_tags %}
{% load staticfiles %}

{% block meta %}
<title>{{ post.title }}</title>
<meta name="description" content="{{ post.excerpt }}"/>
<meta name="keywords" content="{{ category.name }},{% for tag in post.tag.all %}{{ tag.name }},{% endfor %}"/>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{% block content%}
    
<div class="services-area">
        <div class="container">
            <!-- Section-tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="section-tittle text-center mb-80">
                        <h2>{{ post.title }}</h2>
                    </div>
                </div>
                <div class="col-lg-4 blog_right_sidebar">
                {% include 'mysite/blogs/blogs_search.html' %}
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Blog Details Area Start ***** -->
    <section class="blog_area single-post-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                                
                    
                        {% ifnotequal '' post.toc %}
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Article Directory</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="" class="d-flex">
                                        <p>{% autoescape off %}
                                            {{ post.toc }}
                                            {% endautoescape %}</p>
                                        <p>(37)</p>
                                    </a>
                                </li>
                                
                            </ul>
                        </aside>
                        {% endifnotequal %}  

                    
                                
                </div>
                <div class="col-lg-6 posts-list">

                    {% block article %}{% endblock %}
                    {% block article_navigation %}{% endblock %}
                    {% block article_author %}{% endblock %}
                    {% block article_comments %}{% endblock %}
                    {% block comment_form %}{% endblock %}
                    
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        
                        {% block sidebar %}
                            {% block toc_sidebar %}{% endblock %}
                        
                            {% include 'mysite/blogs/category_sidebar.html' %}

                            {% block recent_post %}{% endblock %}

                            {% include 'mysite/blogs/tag_sidebar.html' %}
                        {% endblock %}
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog Details Area End ***** -->


{% endblock content %}
    <!-- ***** Footer Area Start ***** -->
    
{% block script_extends %}
    <script type="text/javascript">
            function reply(reply_comment_id){
            // 设置值
            $('#reply_comment_id').val(reply_comment_id);
            var html = $("#comment_" + reply_comment_id).html();
            $('#reply_content').html(html);
            $('#reply_content_container').show();
            $('html').animate({scrollTop: $('#comment_form').offset().top - 60}, 300, function(){
                CKEDITOR.instances['id_text'].focus();
            });
        }

        $("#comment_form").submit(function(){
            $("#comment_error").text('');
            if(CKEDITOR.instances['id_text'].document.getBody().getText().trim() === ''){
                $("#comment_error").text('Comment content cannot be empty');
                return false;``
            }
        });

    </script>
{% endblock %}

