{% extends 'blogs/blogs.html' %}
{% load blog_tags %}
{% load staticfiles %}

{% block content_left%}
                            {% for post in posts%}
                                 <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="{% static 'app/img/blog/single_blog_1.png' %}' %}" alt="">
                                        <a href="#" class="blog_item_date">
                                            <h3>15</h3>
                                            <p>Jan</p>
                                        </a>
                                    </div>

                                    <div class="blog_details">
                                        <a class="d-inline-block" href="{{ post.get_absolute_url }}">
                                            <h2>{{ post.title }}</h2>
                                        </a>
                                        <p>{{ post.excerpt | slice:":70"}}...</p>
                                        <ul class="blog-info-link">
                                            <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                        </ul>
                                    </div>
                                </article>
                            {% endfor %}
                            {% if is_paginated %}
                    
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a href="?page=1" class="page-link"><span class="fa fa-step-backward" aria-hidden="true"></span></a>
                                    </li>

                                    {% if page_obj.has_previous %}
                                        <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"><span class="fa fa-chevron-left" aria-hidden="true"></span></a></li>
                                    {% else %}
                                        <li class="page-item"><a href="" class="page-link"><span class="fa fa-chevron-left" aria-hidden="true"></span></a></li>
                                    {% endif %}

                                        <li class="page-item"><span class="page-link" >{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>

                                    {% if page_obj.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" ><span class="fa fa-chevron-right" aria-hidden="true"></span></a></li>
                                    {% else %}
                                        <li class="page-item"><span class="page-link"><span class="fa fa-chevron-right" aria-hidden="true"></span></span></li>
                                    {% endif %}

                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"><span class="fa fa-step-forward" aria-hidden="true"></span></a></li>
                                </ul>
                            </nav>
                    
                        {% endif %}
                                                       
{%  endblock %}

                                     
{% block recent_post %}
                    <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Recent Post</h3>
                            <div class="media post_item">
                                <img src="{% static 'app/img/post/post_1.png' %}" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>From life was you fish...</h3>
                                    </a>
                                    <p>January 12, 2019</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{% static 'app/img/post/post_2.png' %}" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>The Amazing Hubble</h3>
                                    </a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{% static 'app/img/post/post_3.png' %}" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Astronomy Or Astrology</h3>
                                    </a>
                                    <p>03 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{% static 'app/img/post/post_4.png' %}" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Asteroids telescope</h3>
                                    </a>
                                    <p>01 Hours ago</p>
                                </div>
                            </div>
                        </aside>
{% endblock %}