{% extends 'blogs/article.html' %}
{% load blog_tags %}
{% load staticfiles %}

       {% block article %} 
        <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="assets/img/blog/single_blog_1.png" alt="">
                  </div>
                  <div class="blog_details">
                     <h2>{{ post.title }}</h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><i class="fa fa-user"></i> {{ post.views }}</li>
                        <li><a href="{% url 'blogs:category' post.category.id %}"><i class="fa fa-user"></i> {{ category.name }}</a></li>
                        <li>
                            {% for tag in post.tag.all %}
                            <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                            {% endfor %}
                        </li>
                        <li><a href="#"><i class="fa fa-comments"></i> {% get_comment_count post %} Comments</a></li>
                     </ul>
                     <p class="excert">
                       {% autoescape off %}
                            {{ post.body| markdown|safe }}
                        {% endautoescape %}
                     </p>
                  </div>
               </div>
        {% endblock %}

        {% block article_navigation %}
        <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                        people like this</p>
                     <div class="col-sm-4 text-center my-2 my-sm-0">
                        <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                     </div>
                     <ul class="social-icons">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                     </ul>
                  </div>
                  <div class="navigation-area">
                     <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           <div class="thumb">
                              <a href="#">
                                 <img class="img-fluid" src="assets/img/post/preview.png" alt="">
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="#">
                                 <span class="lnr text-white ti-arrow-left"></span>
                              </a>
                           </div>
                           <div class="detials">
                              <p>Prev Post</p>
                              <a href="#">
                                 <h4>Space The Final Frontier</h4>
                              </a>
                           </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                           <div class="detials">
                              <p>Next Post</p>
                              <a href="#">
                                 <h4>Telescopes 101</h4>
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="#">
                                 <span class="lnr text-white ti-arrow-right"></span>
                              </a>
                           </div>
                           <div class="thumb">
                              <a href="#">
                                 <img class="img-fluid" src="assets/img/post/next.png" alt="">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            {% endblock %}

    {% block article_author %}
        <div class="blog-author">
                  <div class="media align-items-center">
                     <img src="assets/img/blog/author.png" alt="">
                     <div class="media-body">
                        <a href="#">
                           <h4>Harvard milan</h4>
                        </a>
                        <p>Second divided from form fish beast made. Every of seas all gathered use saying you're, he
                           our dominion twon Second divided from</p>
                     </div>
                  </div>
               </div>
    {% endblock %}

{% block article_comments %}
<!-- Comments Area -->
                                <div class="comment_area mb-50 clearfix">
									
                                        <h5 class="title" id="comment">{{ total_comments }} comments</h5>
                                        <ol>
                                            
                                            <li class="single_comment_area" id="comment_list">
                                                    <!-- Comment Content -->
                                                    {% get_comments_list post as comments %}
                                                    {% for comment in comments %} 
                                                    <div  class="comment-content d-flex comment"  id="root_{{ comment.pk }}">
                                                        <!-- Comment Author -->
                                                        {% ifequal comment.user.username 'reborn' %}
                                                        <div class="comment-author">
                                                            <img src="{% static 'blog/image/touxiang.jpg' %}" alt="{{ comment.user.username }}">
                                                        </div>
                                                        {% else %}
                                                        <div class="comment-author">
                                                            <img src="{% static 'blog/image/touxiang.jpg' %}" alt="{{ comment.user.username }}">
                                                        </div>
                                                        {% endifequal %}
                                                        <!-- Comment Meta -->
                                                        <div class="comment-meta" id="comment_{{ comment.pk }}">
                                                            <a href="#" class="post-date">{{ comment.comment_time| timesince}} ago</a>
                                                            {% ifequal reply.user.username 'reborn' %}
                                                                <h5>Blogger</h5>
                                                            {% else %}
                                                                <h5>{{ comment.user.username }}</h5>
                                                            {% endifequal %}
                                                            <p>{{ comment.text|safe }}</p>
                                                            <a href="#" class="like">Like</a>
                                                            <a href="javascript:reply({{ comment.pk }})" class="reply">Reply</a>
                                                        </div>
                                                    </div>
                                                    {% if reply.user.username is  null %}
                                                        <ol class="children">
                                                            {% for reply in comment.root_comment.all %}
                                                                <li class="single_comment_area">
                                                                    <!-- Comment Content -->
                                                                    <div class="comment-content d-flex">
                                                                        <!-- Comment Author -->
                                                                        {% ifequal reply.user.username 'reborn' %}
                                                                        <div class="comment-author">
                                                                            <img src="{% static 'blog/image/touxiang.jpg' %}" alt="{{ reply.user.username }}">
                                                                        </div>
                                                                        {% else %}
                                                                        <div class="comment-author">
                                                                            <img src="{% static 'blog/image/touxiang.jpg' %}" alt="{{ reply.user.username }}">
                                                                        </div>
                                                                        {% endifequal %}
                                                                        <!-- Comment Meta -->
                                                                        <div class="comment-meta">
                                                                            <a href="#" class="post-date">{{ reply.comment_time|date:'Y-m-d H:i:s'}}</a>
                                                                            {% ifequal reply.user.username 'reborn' %}
                                                                            <h5>Blogger</h5>
                                                                            {% else %}
                                                                            <h5>{{ reply.user.username }}-
                                                                                {% ifequal reply.reply_to.username 'reborn' %}
                                                                                Blogger
                                                                                {% else %}
                                                                                {{ reply.reply_to.username }}
                                                                                {% endifequal %}
                                                                            </h5>
                                                                            {% endifequal %}
                                                                            <p id="comment_{{ reply.pk }}">{{ reply.text|safe }}</p>
                                                                            <a href="#" class="like">Like</a>
                                                                            <a href="javascript:reply({{ reply.pk }})" class="reply">Reply</a>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                {% endfor %}
                                                        </ol>
                                                        {% endif %}

                                                      {% empty %}
                                                    There are no comments for this article. Just say a few words!
                                                    {% endfor %}  
                                                </li>
                                        </ol>
                                    </div>
                                    <!-- Leave A Reply -->
                                    {% endblock %}
{% block comment_form %}
                                    <div class="comment-form">
                                        <h2 class="mb-4">Leave A Comment</h2>
                                            {% if user.is_authenticated  %}
                                                <form id = "comment_form" action="{% url 'comment:update_comment' %}" class="form-contact comment_form" method="POST">

                                                    <div id="reply_content_container" style="display:none;">
                                                        <p id="reply_title">Reply：</p>
                                                        <div id="reply_content"></div>
                                                    </div>

                                                    {% csrf_token %}
                                                    {% get_comment_form post as comment_form%}

                                                    {% for field in comment_form %}
                                                        {{ field }}
                                                    {% endfor %}

                                                    <span id="comment_error" class="text-danger pull-left"></span>
                                                    <input class="btn btn-primary pull-right" type="submit" value="comment">
                                                </form>
                                            {% else %}
                                            Please login and comment
                                                <a class = "btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">log in</a>
                                                <span> or </span>
                                                <a class = "btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">register</a>
                                            {% endif %}
                                        
                                    </div>
{% endblock %}
{% block related_posts %}
                    <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Related Posts</h3>
                            {% for relative_post in relative_posts %}
                            <div class="media post_item">
                                <img src="{% static 'app/img/post/post_1.png' %}" alt="post">
                                <div class="media-body">
                                    <a href="{{ relative_post.get_absolute_url }}">
                                        <h3>{{ relative_post.title | slice:":50" }}</h3>
                                    </a>
                                    <p>{{ relative_post.created_time|timesince}}</p>
                                </div>
                            </div>
                            
                        </aside>
                    {% endfor %}
{% endblock %}
