{% load blogs_info %}
{% load staticfiles %}
{% load cache %}

{% block article %}
    <article class="blog_item card post-{{ article.pk }}" id="post-{{ article.pk }} ">
        {% markdown_images article.body as imgs %}
        {% if imgs %}
            <div class="blog_item_img">
                <div class="h1-testimonial-active owl-carousel">
                    {%  for img in imgs  %}
                        <div class="single-cases-img">
                            <img class="card-img rounded-0" src= '{{ img }}'  alt="{{ article.title }}">
                        </div>
                    {% endfor %}
                </div>
                <a href="#" class="blog_item_date">
                    <h3>{{article.pub_time|date:'d'}}</h3>
                    <p>{{article.pub_time|date:'M'}}</p>
                </a>
            </div>
        {% endif %}
    
        <div class="blog_details" style="padding:20px">
            <a class="d-inline-block" href="{{ article.get_absolute_url }}">
                {% if isindex %}
                    <h3>{{ article.title | truncatewords:6}}</h3>
                {% else %}
                    <h3>{{ article.title}}</h3>
                {% endif %}
            </a>
            <p>
            {% if article.type == 'a' %}
                <a href="{{ article.category.get_absolute_url }}" rel="category tag" title="View all articles categorised by {{ article.category.name }}"><i class="fas fa-filter"></i> {{ article.category.name }} </a>
            {% endif %}
            </p>
            <p class="card-text">{{ article.body|custom_markdown|escape|truncate }}...</p>
            {% load_article_metas article user False %}
            <p class='tagcloud'>
            {% if article.type == 'a' %}
                {% if article.tags.all %}
                    {% for t in article.tags.all %}
                        <a href=' {{ t.get_absolute_url }}' rel="tag" title="View all articles tagged with {{ t.name }}">{{ t.name }}</a>
                    {% endfor %}
                {% endif %}
            {% endif %}
            </p>
            <p class='read-more' style="margin-bottom:6rem;">
                <a href='{{ article.get_absolute_url }}' class="genric-btn info-border circle arrow">Continue Reading</a>
            </p>
        </div>
    </article>
{% endblock %}
