{% load blogs_info %}
{% load cache %}
{% with article.id|add:user.is_authenticated as cachekey %}
    {% cache 36000 articlefooter cachekey %}
        
            <li><i class="fas fa-eye"></i> {{ article.views }}</li>
                <li><a href="{{ article.get_absolute_url }}" title="{% datetimeformat article.pub_time %}"
                    itemprop="datePublished" content="{% datetimeformat article.pub_time %}" rel="bookmark"><time class="entry-date updated"
                  datetime="{{ article.pub_time }}">
                <i class="fas fa-upload"></i> {{ article.pub_time|timesince }} ago</time></a></li>
                <li>{% if article.type == 'a' %}
                        <a href="{{ article.category.get_absolute_url }}" rel="category tag" title="View all articles categorised by {{ article.category.name }}"><i class="fas fa-filter"></i> {{ article.category.name }} </a>
                        {% if article.tags.all %}
                        | <i class="fa fa-tags"></i>
                            {% for t in article.tags.all %}
                                <a href="{{ t.get_absolute_url }}" rel="tag" title="View all articles tagged with {{ t.name }}"> {{ t.name }}</a>
                                {% if t != article.tags.all.last %}
                                    ，
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        
                    {% endif %} 
                </li>
                <li><a href="{{ article.author.get_absolute_url }}" title="View all articles published by {{article.author.username}}"
                rel="author"><i class="fa fa-user"></i><span itemprop="author" itemscope itemtype="http://schema.org/Person">

                <span itemprop="name" itemprop="publisher"> {{ article.author.username }}</span>
            </span></a></li>
        <!-- .entry-meta -->
    {% endcache %}
{% endwith %}
