{% load blogs_info %}
{% load staticfiles %}
{% load cache %}

{% block article %}
    <article class="blog_item post-{{ article.pk }}" id="post-{{ article.pk }} ">
        {% markdown_images article.body as imgs %}
        {% if imgs %}
            <div class="blog_item_img card">
                <div class="h1-testimonial-active owl-carousel">
                    {%  for img in imgs  %}
                        <div class="single-cases-img">
                            <img class="card-img rounded-0" src= '{{ img }}' alt="{{ article.title }}">
                        </div>
                    {% endfor %}
                </div>
                <a href="#" class="blog_item_date">
                    <h3>{{article.pub_time|date:'d'}}</h3>
                    <p>{{article.pub_time|date:'M'}}</p>
                </a>
            </div>
        {% endif %}
    
        <div class="blog_details">
            <a class="d-inline-block" href="{{ article.get_absolute_url }}">
                <h2>{{ article.title }}</h2>
            </a>
            <p class="card-text">{{ article.body|custom_markdown|escape|truncate }}...</p>
            <p class='read-more'><a
                        href=' {{ article.get_absolute_url }}'>Read more</a></p>
            <ul class="blog-info-link">
                {% load_article_metas article user %}
            </ul>
        </div>

    </article>
{% endblock %}
