<div class="box"> 
  <div class="share">
    <div class="line3"></div>
    <div class="line2"></div>
    <div class="line"></div>
    <div class="icon">
      <span class="head">share</span>
      <div class="btn">+</div>
    </div>
    
  </div>
    <div id="hide" class="active">
      <ul>
        <li class="one el  share-linkedin"><i class="fab fa-linkedin"></i></li>
        <li class="two el share-facebook"><i class="fab fa-facebook"></i></li>
        <li class="three el share-twitter"><i class="fab fa-twitter"></i></li>
        <li class="four el share-email"><i class="fa fa-envelope"></i></li>
        <li class="five el share-pinterest"><i class="fab fa-pinterest"></i></li>
      </ul>
    </div>
</div>