
<aside class="single_sidebar_widget search_widget" >
    <form role="search" method="get" action="{% url 'haystack_search' %}">
        <div class="form-group">
            <div class="input-group mb-3">
                <input type="text" name="q" id="q"   autocomplete="off" class="form-control" placeholder="Search Keyword" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                <div class="input-group-append">
                    <button class="btns" type="submit" id="searchsubmit"><i class="ti-search"></i></button>
                </div>
            </div>
        </div>
        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit" id="searchsubmit">Search</button>
    </form>
</aside>
