
<div class="col-12 col-sm-6 col-md-4">
	<div class="square-flip">
		<div class='square' data-image="{{portfolio.cover.url}}">
			<div class="square-container">
				<div class="align-center"><img src="{{portfolio.cover.url}}" class="boxshadow" alt="{{portfolio.title}}"></div>
				
				<h2 class="textshadow" style="margin-top:20px;">{{portfolio.title}}</h2>
			</div>
			<div class="flip-overlay"></div>
		</div>
		<div class='square2' data-image="{{portfolio.cover.url}}">
			<div class="square-container2">
				<div class="align-center"></div>
				<a href="#portfolio{{portfolio.id}}" class="boxshadow kallyas-button">View Demos</a>
			</div>
			<div class="flip-overlay"></div>
		</div>
	</div>
</div>
