{% extends "base.html" %}
{% load blog_tags %}

{% block meta %}
<title>Category: {{tag_name}}-My Book List</title>
{% endblock %}

{% block content_left %}
    <div class="django-panel django-panel-padding">
            <h1 align="center">Current classification: {{tag_name}} (Total {{lists | length}} this)</h1>
            <div class="django-card">
                {% for book in lists %}
                    <div class="card col span_1_of_4" role="main">
                    <div class="card-item">
                        <div class="card-cover">
                            <div class="card-category">
                            <a href="">{{ book.category }}</a>
                            </div>
                            {% if book.pid != "" %}
                                <a href="{{ book.get_absolute_url }}"><img alt="{{ book.name }}" src="{% url 'blog:index' %}media/{{ book.cover }}"></a>
                            {% else %}
                                <img alt="{{ book.name }}" src="{% url 'blog:index' %}media/{{ book.cover }}">
                            {% endif %}
                        </div>
                        <div class="card-detail">
                            <h3>{{ book.name }}</h3>
                            <p>Douban score:{{ book.score }}</p>
                            <p>Starting time：{{ book.time_consuming }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block content_paginate %}
    {% if is_paginated %}
        <div class="django-panel django-pages">
            <ul class="pagination django-pages-ul">
                    <li><a href="?page=1"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a></li>

                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></li>
                    {% else %}
                        <li><a href=""><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></li>
                    {% endif %}

                    <li><span class="page-style" >{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>

                    {% if page_obj.has_next %}
                        <li><a class="page-style" href="?page={{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
                    {% else %}
                        <li><span class="end-page-style page-style"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span></li>
                    {% endif %}

                    <li><a class="page-style" href="?page={{ page_obj.paginator.num_pages }}"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block tag_sidebar %}
    <div class="sidebar" >
        <div class="widget git_tag">
            <div class="title"><h3>Popular tags</h3></div>
            <div class="git_tags">
                {% get_books_tags as tags %}
                {% for tag in tags %}
                    <a target="_self" href="{{ tag.get_absolute_url  }}" >{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}