{% extends "main/layout.html" %}
{% load blog_tags %}
{% load blogs_info %}
{% block meta %}
    {% if tag_name %}
        <title>{{ page_type }}:{{ tag_name }} | {{ SITE_DESCRIPTION }}</title>
        {% comment %}<meta name="description" content="{{ page_type }}:{{ tag_name }}"/>{% endcomment %}
    {% else %}
        <title>agrosite Notification | {{ SITE_DESCRIPTION }}</title>
    {% endif %}
    <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="notification"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
{% endblock %}


{% block content %}
    <section class="service-area services-padding">
        <div class="container">
            <div class="row d-flex ">
                <div class="col-lg-6">
                    <div class="notification-btns">
                        <a class="genric-btn info" href="{% url 'notifications:mark_all_as_read'%}?next={% url 'notice:my_notifications' %}">Make all read</a>
                        <a class="genric-btn danger" href="{% url 'notice:delete_my_read_notifications' %}">Delete read message</a><br>
                    </div>
                    {% for notification in request.user.notifications.all %}
                        <ul class="notification">
                            <li class="{% if not notification.unread %}read{% endif %}">
                                ({{ notification.timesince }}prior to)
                                <a href="{% url 'notice:my_notification'  notification.pk %}">{{ notification.verb }}</a>
                            </li>
                        </ul>
                    {% empty %}
                        <li class="notification">No news for the moment</li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}