{% extends 'blogs/blogs.html' %}
{% load highlight %}
{% load staticfiles %}
{% load blog_tags %}
{% block content_left %}
    {% if query %}
        <div class="row">
            {% for post in page.object_list%}
                        <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="{% static 'app/img/blog/single_blog_1.png' %}' %}" alt="">
                                        <a href="#" class="blog_item_date">
                                            <h3>15</h3>
                                            <p>Jan</p>
                                        </a>
                                    </div>

                                    <div class="blog_details">
                                        <a class="d-inline-block" href="{{ post.get_absolute_url }}">
                                            <h2>{{ post.title }}</h2>
                                        </a>
                                        <p>{{ post.excerpt | slice:":70"}}...</p>
                                        <ul class="blog-info-link">
                                            <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                        </ul>
                                    </div>
                                </article>
                
                {% empty %}
                    <div class="django-panel django-panel-padding">
                        <p>Sorry......No results found!</p>
                        <p>Please enter <strong> complete and meaningful search keywords </strong>, such as: django</p>
                    </div>
            {% endfor %}
        </div>
        <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
                <li class="page-item"><a href="?q={{ query }}&amp;?page=1" class="page-link"><span class="fa fa-step-backward" aria-hidden="true"></span></a></li>

                    {% if page.has_previous%}
                         <li class="page-item"><a href="?q={{ query }}&amp;page={{page.previous_page_number }}" class="page-link"><span class="fa fa-chevron-left" aria-hidden="true"></span></a></li>
                    {% else %}
                        <li class="page-item"><a href="" class="page-link"><span class="fa fa-chevron-left" aria-hidden="true"></span></a></li>
                    {% endif %}

                        <li class="page-item"><span class="page-link" >{{ page.number }} of {{ page.paginator.num_pages }}</span></li>

                    {% if page.has_next %}
                        <li class="page-item"><a class="page-link" href="?q={{ query }}&amp;page={{ page.next_page_number }}" ><span class="fa fa-chevron-right" aria-hidden="true"></span></a></li>
                    {% else %}
                        <li class="page-item"><span class="page-link"><span class="fa fa-chevron-right" aria-hidden="true"></span></span></li>
                    {% endif %}

                    <li class="page-item"><a class="page-link" href="?q={{ query }}&amp;page={{ page.paginator.num_pages }}"><span class="fa fa-step-forward" aria-hidden="true"></span></a></li>
                </ul>
            </nav>
        

    {% else %}
        <div class="django-panel-padding django-panel">
            Please enter keywords to search ~
        </div>
    {% endif %}
{% endblock %}