{% load staticfiles %}
{% load blog_tags %}
 <!-- ***** Footer Area Start ***** -->
 <footer class="footer-area section-padding-80-0">
    <div class="container">
        <div class="row justify-content-between">

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-80">
                    <!-- Widget Title -->
                    <h4 class="widget-title">Contact Us</h4>

                    <!-- Footer Content -->
                    <div class="footer-content mb-15">
                     {% get_site_info as site_info %}
                        <h3>(+91){{ site_info.record_info}}</h3>
                        <p>40 Baria Sreet 13/2 NY City, US <br> {{site_info.arrange_info}}</p>
                    </div>
                    <p class="mb-0">Mon - Fri: 9:00 - 19:00 <br>
                        Closed on Weekends</p>
                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-80">
                    <!-- Widget Title -->
                    <h4 class="widget-title">Quick Link</h4>

                    <!-- Nav -->
                    <nav>
                        <ul class="our-link">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Forum Registeration</a></li>
                            <li><a href="#">Forum Sign In</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-80">
                    <!-- Widget Title -->
                    <h4 class="widget-title">Resources</h4>

                    <!-- Nav -->
                    <nav>
                        <ul class="our-link">
                            <li><a href="#">Customer Support</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Media &amp; Press</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-80">
                    <!-- Widget Title -->
                    <h4 class="widget-title">About Us</h4>
                    {% get_site_info as site_info %}
                        <p>Powered by {{ site_info.created_time | date }}Start online</p>
                        <p>{{ site_info.development_info }}</p>
                        <p>{{ site_info.arrange_info }}</p>
                    {% get_custom_code as custom_code %}
                        <p>{% autoescape off %}{{ custom_code.statistics }}{% endautoescape %}</p>
                    <!-- Copywrite Text -->
                    <div class="copywrite-text mb-30">
                        <p>&copy; Copyright 2018 <a href="#">Colorlib</a>.</p>
                    </div>

                    <!-- Social Info -->
                    {% get_friend_links as links %}
                    <div class="footer-social-info">
                        {% for link in links %}
                            <p><a href="{{ link.link }}" target="_blank">{{ link.name }}</a></p>
                        {% endfor %}
                        <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="youtube" data-toggle="tooltip" data-placement="top" title="YouTube"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>

        </div>

<div class="row" style="margin-bottom: 30px;">
{% get_seo_info as seo_info %}          
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;{{year}} All rights reserved |This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://agrowdev.com" target="_blank">{{ seo_info.title }}</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>

    </div>
</footer>
<!-- ***** Footer Area End ***** -->