{% load staticfiles %}
{% load notifications_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta %}{% endblock %}
   
    {% block styles %}{% endblock %}
    <!-- Favicon -->
    <link rel="icon" href="{% static 'app/img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    
</head>

<body>
{% include 'mysite/header.html' %}
    
{% include 'mysite/load-search.html' %}  
{% include 'mysite/style_switch.html' %}  

{% block content %}
    
{% endblock %}
     
{% include 'mysite/footer.html' %}

    <!-- ******* All JS Files ******* -->
    <!-- jQuery js -->
    <script src="{% static 'app/js/jquery.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'app/js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
    <!-- All js -->
    <script src="{% static 'app/js/uza.bundle.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'app/js/default-assets/active.js' %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% block scripts %}{% endblock %}
{% block script_extends %} {% endblock %}
</body>
</html>
