<!-- Preloader -->
<div id="preloader">
    <div class="wrapper">
        <div class="spinner-box">
            <div class="pulse-container">  
                <div class="pulse-bubble pulse-bubble-1"></div>
                <div class="pulse-bubble pulse-bubble-2"></div>
                <div class="pulse-bubble pulse-bubble-3"></div>
                <div class="pulse-bubble pulse-bubble-4"></div>
            </div>
        </div>
    </div>
</div>


<!-- ***** Top Search Area Start ***** -->
<div class="top-search-area">
    <!-- Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-top" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- Close Button -->
                    <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <!-- Form -->
                    <form action="{% url 'haystack_search' %}">
                        <input type="search" name="q"  placeholder="Search and hit enter..." autocomplete="off" class="form-control"/>
                        <button type="submit">Search</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Top Search Area End ***** -->

