{% extends "mysite/layout.html" %}
{% load static %}
{% block content %}
 <!-- ***** Breadcrumb Area Start ***** -->
 <div class="breadcrumb-area">
    <div class="container h-75">
        <div class="row h-75 align-items-end">
            <div class="col-12">
                <div class="breadcumb--con">
                    
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'mysite:home' %}"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Services</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Background Curve -->
    <div class="breadcrumb-bg-curve">
        <img src="{% static 'app/img/core-img/curve-5.png' %}" alt="">
    </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->

<!-- ***** Services Area Start ***** -->
<section class="uza-services-area section-padding-80">
    <div class="container">
        <div class="row">

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-80">
                    <!-- Service Icon -->
                    <div class="service-icon">
                        <i class="icon_cone_alt"></i>
                    </div>
                    <h5>Business Strategy</h5>
                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-80">
                    <!-- Service Icon -->
                    <div class="service-icon">
                        <i class="icon_piechart"></i>
                    </div>
                    <h5>Market Analytics</h5>
                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-80">
                    <!-- Service Icon -->
                    <div class="service-icon">
                        <i class="icon_easel"></i>
                    </div>
                    <h5>Marketing Social</h5>
                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-80">
                    <!-- Service Icon -->
                    <div class="service-icon">
                        <i class="icon_lightbulb_alt"></i>
                    </div>
                    <h5>UX/UI Design</h5>
                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-80">
                    <!-- Service Icon -->
                    <div class="service-icon">
                        <i class="icon_drawer_alt"></i>
                    </div>
                    <h5>Software Development</h5>
                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata.</p>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-80">
                    <!-- Service Icon -->
                    <div class="service-icon">
                        <i class="icon_genius"></i>
                    </div>
                    <h5>Technology</h5>
                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ***** Services Area End ***** -->

<!-- ***** CTA, Testimonial & CFA Area Start ***** -->
<section class="cta-testimonial-cfa-area">
    <!-- Background Curve -->
    <div class="cta-testimonial-cfa-bg-curve">
        <img src="{% static 'app/img/core-img/curve-6.png" alt="">
    </div>

    <!-- ***** Border Bottom ***** -->
    <div class="container">
        <div class="border-bottom"></div>
    </div>

    <!-- ***** CTA Area Start ***** -->
    <div class="uza-cta-area section-padding-80-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-8">
                    <div class="cta-content mb-80">
                        <h2>Interested in working with us?</h2>
                        <h6>Hit the button below or give us a call!</h6>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="cta-content mb-80">
                        <div class="call-now-btn">
                            <a href="#"><span>Call us now:</span> (+65) 1234 5678</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** CTA Area End ***** -->

    <!-- ***** Client Feedback Area Start ***** -->
    <div class="clients-feedback-area section-padding-0-80 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Testimonial Slides -->
                    <div class="testimonial-slides owl-carousel">

                        <!-- Single Testimonial Slide -->
                        <div class="single-testimonial-slide d-flex align-items-center">
                            <!-- Testimonial Thumbnail -->
                            <div class="testimonial-thumbnail">
                                <img src="{% static 'app/img/bg-img/7.jpg' %}" alt="">
                            </div>
                            <!-- Testimonial Content -->
                            <div class="testimonial-content">
                                <h4>“Colorlib Ltd’s ranking has gone up so much from the great work that your team has done and our brand get organic sales consistently from your efforts. We are happy that the results of your efforts were lasting and profitable.”</h4>
                                <!-- Ratings -->
                                <div class="ratings">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>
                                <!-- Author Info -->
                                <div class="author-info">
                                    <h5>Darrell Goodman <span>- CEO colorlib</span></h5>
                                </div>
                                <!-- Quote Icon -->
                                <div class="quote-icon"><img src="img/core-img/quote.png' %}" alt=""></div>
                            </div>
                        </div>

                        <!-- Single Testimonial Slide -->
                        <div class="single-testimonial-slide d-flex align-items-center">
                            <!-- Testimonial Thumbnail -->
                            <div class="testimonial-thumbnail">
                                <img src="{% static 'app/img/bg-img/23.jpg' %}" alt="">
                            </div>
                            <!-- Testimonial Content -->
                            <div class="testimonial-content">
                                <h4>“Colorlib Ltd’s ranking has gone up so much from the great work that your team has done and our brand get organic sales consistently from your efforts. We are happy that the results of your efforts were lasting and profitable.”</h4>
                                <!-- Ratings -->
                                <div class="ratings">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>
                                <!-- Author Info -->
                                <div class="author-info">
                                    <h5>Darrell Goodman <span>- CEO colorlib</span></h5>
                                </div>
                                <!-- Quote Icon -->
                                <div class="quote-icon"><img src="img/core-img/quote.png' %}" alt=""></div>
                            </div>
                        </div>

                        <!-- Single Testimonial Slide -->
                        <div class="single-testimonial-slide d-flex align-items-center">
                            <!-- Testimonial Thumbnail -->
                            <div class="testimonial-thumbnail">
                                <img src="{% static 'app/img/bg-img/24.jpg' %}" alt="">
                            </div>
                            <!-- Testimonial Content -->
                            <div class="testimonial-content">
                                <h4>“Colorlib Ltd’s ranking has gone up so much from the great work that your team has done and our brand get organic sales consistently from your efforts. We are happy that the results of your efforts were lasting and profitable.”</h4>
                                <!-- Ratings -->
                                <div class="ratings">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>
                                <!-- Author Info -->
                                <div class="author-info">
                                    <h5>Darrell Goodman <span>- CEO colorlib</span></h5>
                                </div>
                                <!-- Quote Icon -->
                                <div class="quote-icon"><img src="img/core-img/quote.png' %}" alt=""></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Client Feedback Area End ***** -->

    <!-- ***** Cool Facts Area Start ***** -->
    <div class="uza-cf-area section-padding-80-0">
        <div class="container">
            <div class="row">

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cf-area d-flex align-items-center mb-80">
                        <h2><span class="counter">90</span></h2>
                        <div class="cf-text">
                            <h6>Projects<br>Completed</h6>
                        </div>
                        <div class="bg-icon"><i class="icon_piechart"></i></div>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cf-area d-flex align-items-center mb-80">
                        <h2><span class="counter">120</span></h2>
                        <div class="cf-text">
                            <h6>Happy<br>clients</h6>
                        </div>
                        <div class="bg-icon"><i class="icon_heart_alt"></i></div>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cf-area d-flex align-items-center mb-80">
                        <h2><span class="counter">50</span></h2>
                        <div class="cf-text">
                            <h6>WEB<br>awards</h6>
                        </div>
                        <div class="bg-icon"><i class="icon_book_alt"></i></div>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cf-area d-flex align-items-center mb-80">
                        <h2><span class="counter">20</span></h2>
                        <div class="cf-text">
                            <h6>Our<br>experts</h6>
                        </div>
                        <div class="bg-icon"><i class="icon_profile"></i></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- ***** Cool Facts Area End ***** -->
</section>
<!-- ***** CTA, Testimonial & CFA Area End ***** -->

<!-- ***** Newsletter Area Start ***** -->
<section class="uza-newsletter-area">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <!-- Newsletter Content -->
            <div class="col-12 col-md-6 col-lg-6">
                <div class="nl-content mb-80">
                    <h2>Subscribe to our Newsletter</h2>
                    <p>Subscribe our newsletter gor get notification about new updates, etc...</p>
                </div>
            </div>
            <!-- Newsletter Form -->
            <div class="col-12 col-md-6 col-lg-5">
                <div class="nl-form mb-80">
                    <form action="#" method="post">
                        <input type="email" name="nl-email" value="" placeholder="Your Email">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Border Bottom -->
        <div class="border-line"></div>
    </div>
</section>
<!-- ***** Newsletter Area End ***** -->
{% endblock %}