{% extends "main/layout.html" %}
{% load staticfiles %}
{% load blogs_info %}
{% load cache %}
{% block meta %}
    <title>{{ article.title }} | {{ SITE_DESCRIPTION }}</title>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ article.title }}"/>

    <meta property="og:description" content="{{ article.body|custom_markdown|striptags|truncatewords:1 }}"/>
    <meta property="og:url"
          content="{{ article.get_full_url }}"/>
    <meta property="article:published_time" content="{% datetimeformat article.pub_time %}"/>
    <meta property="article:modified_time" content="{% datetimeformat article.pub_time %}"/>
    <meta property="article:author" content="{{ article.author.get_full_url }}"/>
    <meta property="article:section" content="{{ article.category.name }}"/>
    {% for t in article.tags.all %}
        <meta property="article:tag" content="{{ t.name }}"/>
    {% endfor %}
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>

    <meta name="description" content="{{ article.body|custom_markdown|striptags|truncatewords:1 }}"/>
    {% if article.tags %}
        <meta name="keywords" content="{{ article.tags.all|join:"," }}"/>
    {% else %}
        <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    {% endif %}

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{% block content %}

<div class="services-area">
        <div class="container">
            <!-- Section-tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="section-tittle text-center mb-80">
                        <h2>{{ article.title }}</h2>
                    </div>
                </div>
                <div class="col-lg-4 blog_right_sidebar">
                    {% include 'blog/tags/search.html' %}
                </div>
            </div>
        </div>
    </div>
        <!-- ***** Blog Details Area Start ***** -->
    <section class="blog_area single-post-area">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-8 posts-list">
                    <div class="blog-author">
                        <div class="media align-items-center">
                            <img src="{% static 'app/img/blog/author.png' %}" alt="">
                            <div class="media-body">
                                <a href="{{article.author.get_full_url}}">
                                <h4>{{article.author.username}}</h4>
                                </a>
                                <p>Second divided from form fish beast made. Every of seas all gathered use saying you're, he
                                our dominion twon Second divided from</p>
                            </div>
                        </div>
                    </div>
                    {% load_article_detail_info article True user %}
                    <div class="navigation-top">
                        <div class="d-sm-flex justify-content-between text-center">
                            <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                                people like this</p>
                            <div class="col-sm-4 text-center my-2 my-sm-0">
                                <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                            </div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                        {% if article.type == 'a' %}
                            <div class="navigation-area">
                                <div class="row">
                                {% if next_article %}
                                    <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                    <div class="thumb">
                                        <a href="{{ next_article.get_absolute_url }}">
                                            <img class="img-fluid" src="{% static 'app/img/post/preview.png' %}" alt="">
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="{{ next_article.get_absolute_url }}">
                                            <span class="lnr text-white ti-arrow-left"></span>
                                        </a>
                                    </div>
                                    <div class="detials">
                                        <p>Prev Post</p>
                                        <a href="{{ next_article.get_absolute_url }}">
                                            <h4>{{ next_article.title }}</h4>
                                        </a>
                                    </div>
                                    </div>
                                {% endif %}
                                {% if prev_article %}
                                    <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                    <div class="detials">
                                        <p>Next Post</p>
                                        <a href="{{ prev_article.get_absolute_url }}">
                                            <h4>{{ prev_article.title }}</h4>
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="{{ prev_article.get_absolute_url }}">
                                            <span class="lnr text-white ti-arrow-right"></span>
                                        </a>
                                    </div>
                                    <div class="thumb">
                                        <a href="{{ prev_article.get_absolute_url }}">
                                            <img class="img-fluid" src="{% static 'app/img/post/next.png' %}" alt="">
                                        </a>
                                    </div>
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    
                    
                    {% load_comments_list article  %}
                    <div class="comment-form">
                        <h2 class="mb-4">Leave A Comment</h2>
                        {% if user.is_authenticated %}
                        <form id = "comment_form" action="{% url 'comment:update_comment' %}" class="form-contact comment_form" method="POST">

                            <div id="reply_content_container" style="display:none;">
                                <p id="reply_title">Reply：</p>
                                <div id="reply_content"></div>
                            </div>

                            {% csrf_token %}
                            {% get_comment_form article as comment_form%}
                            {% for field in comment_form %}
                                {{ field }}
                            {% endfor %}

                            <span id="comment_error" class="text-danger pull-left"></span>
                            <div class="form-group">
                                <button type="submit" class="button button-contactForm btn_1 boxed-btn" value="comment">Comment</button>
                            </div>
                        </form>
                    {% else %}
                        Please login and comment
                        <a class = "btn btn-primary" href="{% url 'account:login' %}?from={{ request.get_full_path }}">log in</a>
                        <span> or </span>
                    {% endif %}
                                        
                </div>
                    
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                            {% block sidebar %}
                                {% with request.user.username as cachekey %}
                                    {% cache 36000 asidebar cachekey %}
                                        {% load_sidebar user linktype %}
                                    {% endcache %}
                                {% endwith %}
                            {% endblock %}
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog Details Area End ***** -->


{% endblock content %}
    <!-- ***** Footer Area Start ***** -->
    
{% block script_extends %}
    <script type="text/javascript">
            function reply(reply_comment_id){
            // 设置值
            $('#reply_comment_id').val(reply_comment_id);
            var html = $("#comment_" + reply_comment_id).html();
            $('#reply_content').html(html);
            $('#reply_content_container').show();
            $('html').animate({scrollTop: $('#comment_form').offset().top - 60}, 300, function(){
                CKEDITOR.instances['id_text'].focus();
            });
        }

        $("#comment_form").submit(function(){
            $("#comment_error").text('');
            if(CKEDITOR.instances['id_text'].document.getBody().getText().trim() === ''){
                $("#comment_error").text('Comment content cannot be empty');
                return false;``
            }
        });

    </script>
{% endblock %}


