{% extends "main/layout.html" %}
{% load staticfiles %}
{% load blogs_info %}
{% load cache %}
{% block meta %}
    <title>{{ article.title }} | {{ SITE_DESCRIPTION }}</title>
    <meta property="og:type" content="article"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:title" content="{{ article.title }}"/>
    <meta name="robots" content="index, follow">
    <meta property="og:description" content="{{ article.body|custom_markdown|striptags|truncatewords:20 }}"/>
    <meta property="og:url"
          content="{{ article.get_full_url }}"/>
    <meta property="article:published_time" content="{% datetimeformat article.pub_time %}"/>
    <meta property="article:modified_time" content="{% datetimeformat article.pub_time %}"/>
    <meta property="article:author" content="{{ article.author.get_full_url }}"/>
    <meta property="article:section" content="{{ article.category.name }}"/>
    {% for t in article.tags.all %}
        <meta property="article:tag" content="{{ t.name }}"/>
    {% endfor %}
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>

    <meta name="description" content="{{ article.body|custom_markdown|striptags|truncatewords:20 }}"/>
    {% if article.tags %}
        <meta name="keywords" content="{{ article.tags.all|join:"," }}"/>
    {% else %}
        <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    {% endif %}
    {% markdown_images article.body as imgs %}
    {% if imgs %}
        <meta property="og:image" content="{{ imgs.0 }}" />
    {% endif %}
    <meta property="og:image:alt" content="{{ article.title }}" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ SITE_NAME }}">
    <meta name="twitter:title" content="{{ article.title }}">
    <meta name="twitter:description" content="{{ article.body|custom_markdown|striptags|truncatewords:8 }}">
    <meta name="twitter:creator" content="{{ SITE_NAME }}">
    {% if imgs %}
        <meta name="twitter:image:src" content="{{ imgs.0 }}">
    {% endif %}
    <meta name="twitter:image:alt" content="{{ article.title }}" />
    <meta name="twitter:domain" content="www.agrowdev.com">
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}
{% block compress_css %}
<style>
 .box {
	 margin: auto;
	 width: 100px;
	 height: 50px;
}
 .share {
	 position: fixed;
	 width: 99px;
	 height: 45px;
	 border-radius: 0px;
	 outline: none;
	 border: 0;
     top: 250px;
     left: -32px;
	 background: #2a4870;
	 overflow: hidden;
	 transition: all 0.5s ease;
	 box-shadow: 3px 5px 10px rgba(42, 72, 112, .5);
     transform: rotate(90deg);
     z-index: 1;
}

/* Small devices (portrait tablets and large phones, 600px and up) */

 .scale {
     transform : rotate(90deg) scale(1.1);
	 transition: all 0.5s ease;
}
 .line, .line2, .line3 {
	 width: 13px;
	 height: 60px;
	 position: absolute;
	 transform: rotate(15deg);
}
 .line {
	 right: 22px;
	 top: -5px;
	 background: #9ece92;
}
 .line2 {
	 right: 10px;
	 background: #33a8cc;
}
 .line3 {
	 right: -3px;
	 background: #1e73b5;
}
 .icon {
	 user-select: none;
	 position: absolute;
	 color: #d0d8db;
	 left: 16px;
    top: 14px;

}
 .icon .head {
	 font-family: 'Open Sans', sans-serif;
	 text-transform: uppercase;
	 letter-spacing: 5px;
	 font-size: 0.9em;
}
 .icon .btn {
	 position: absolute;
	 right: -19px;
	 background: rgba(208, 216, 219, .9);
	 color: #2a4870;
	 top: 6px;
    padding: 7px 5px;
    border-radius: 50%;
}
 .active {
	 z-index: 1;
     top: 150px;
	 left: 0px;
	 position: fixed;
	 opacity: 0;
     transform: rotate(90deg);
	 transition: all 0.7s ease;
}
 .active li {
	 list-style-type: none;
	 width: 40px;
	 height: 40px;
	 color: #d0d8db;
	 border-radius: 50%;
	 position: absolute;
	 box-shadow: 2px 2px 6px rgba(42, 72, 112, .5);
     transform: rotate(-90deg);
}
 .active i {
	 margin: 10px 10px 8px 6px;
}
 .open {
	position: fixed;
    left: 100px;
    top: 150px;
    opacity: 1;
    transform: rotate(90deg);
}
 .fab {
	 padding-left: 5px;
}
.fa {
	 padding-left: 5px;
}
 .one {
     background: #0e76a8;
	 left: 0;
}
 .two {
     background: #3b5998;
	 left: 50px;
}
 .three {
     background: #00acee;
	 left: 100px;
}
 .four {
     background: #7d7d7d;
	 left: 150px;
}
 .five {
     background:  #DB4A2A;
	 left: 200px;
}
 #hide {
	 visibility: hidden;
}
 @media only screen and (max-width: 600px) {
   .share {
	 width: 80px;
	 height: 43px;
    } 
    .icon .head {
        letter-spacing: 2px;
        font-size: 0.7em;
    }
    .icon {
        
        left: 10px;
        top: 1px;
    }
    .open {
        left: 70px;
    }
    .active i {
        margin-left: 2px;
        margin-top: 8px;
    }
    .active li {
        width: 30px;
        height: 30px;
    }
    .five {
        left: 185px;
    }
    .four {
        left: 144px;
    }
    .three {
        left: 100px;
    }
    .two {
        left: 58px;
    }
    .one {
        left: 11px;
    }
}
@media only screen and (min-width: 600px) {
	 .share {
	 width: 90px;
	 height: 45px;
    } 
    .icon .head {
        letter-spacing: 2px;
        font-size: 0.8em;
    }
    
    .icon {
        top: 6px;
    }
    .open {
        left: 95px;
    }
    .active li {
        width: 35px;
        height: 35px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .share {
	 width: 95px;
	 height: 45px;
    } 
    .icon .head {
        letter-spacing: 2px;
        font-size: 0.8em;
    }
    
    .icon {
        top: 9px;
    }
    
}

</style>
<link rel="stylesheet" href="{% static 'app/css/blog-styles.css' %}">
{% endblock %}
{% block content %}
{% include 'blog/tags/clap_btn.html' %}
<div class="services-area">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="job-page-tittle text-center">
                        <h2 class="heading">{{article.title}}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- ***** Blog Details Area Start ***** -->
    <section class="blog_area single-post-area">
        <div class="container">
            <div class="row ">
                <div class="col-lg-2">
                    
                </div>
                <div class="col-lg-8 posts-list">
                    <div class="">
                        {% load_article_detail_info article True user %}
                    </div>
                    <div class="navigation-top">
                        <div class="d-sm-flex justify-content-between text-center">
                            <div class="col-sm-4 text-center my-2 my-sm-0">
                                <p class="like-info mr-5" ><span class="align-middle"></span></p>
                            </div>
                            <div class="col-sm-4 text-center my-2 my-sm-0">
                            
                            {% get_comment_count article as count%}
                                <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span>{{count}}  Comments</p>
                            </div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                        {% if article.type == 'a' %}
                            <div class="navigation-area">
                                <div class="row">
                                {% if next_article %}
                                    <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                    <div class="thumb">
                                        <a href="{{ next_article.get_absolute_url }}">
                                            <img class="img-fluid" src="{% static 'app/img/post/preview.png' %}" alt="">
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="{{ next_article.get_absolute_url }}">
                                            <span class="lnr text-white ti-arrow-left"></span>
                                        </a>
                                    </div>
                                    <div class="detials">
                                        <p>Prev Post</p>
                                        <a href="{{ next_article.get_absolute_url }}">
                                            <h4>{{ next_article.title }}</h4>
                                        </a>
                                    </div>
                                    </div>
                                {% endif %}
                                {% if prev_article %}
                                    <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                    <div class="detials">
                                        <p>Next Post</p>
                                        <a href="{{ prev_article.get_absolute_url }}">
                                            <h4>{{ prev_article.title }}</h4>
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="{{ prev_article.get_absolute_url }}">
                                            <span class="lnr text-white ti-arrow-right"></span>
                                        </a>
                                    </div>
                                    <div class="thumb">
                                        <a href="{{ prev_article.get_absolute_url }}">
                                            <img class="img-fluid" src="{% static 'app/img/post/next.png' %}" alt="">
                                        </a>
                                    </div>
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    
                    
                    {% load_comments_list article  %}
                    <div class="comment-form">
                        <h2 class="mb-4">Leave A Comment</h2>
                        {% if user.is_authenticated %}
                        <form id = "comment_form" action="{% url 'comment:update_comment' %}" class="form-contact comment_form" method="POST">

                            <div id="reply_content_container" style="display:none;">
                                <p id="reply_title">Reply：</p>
                                <div id="reply_content"></div>
                            </div>

                            {% csrf_token %}
                            {% get_comment_form article as comment_form%}
                            {% for field in comment_form %}
                                {{ field }}
                            {% endfor %}

                            <span id="comment_error" class="text-danger pull-left"></span>
                            <div class="form-group">
                                <button type="submit" class="button button-contactForm btn_1 boxed-btn" value="comment">Comment</button>
                            </div>
                        </form>
                        {% else %}
                            Please login and comment
                            <a class = "btn btn-primary" href="{% url 'accounts:login' %}?from={{ request.get_full_path }}">log in</a>
                            <span> or </span>
                        {% endif %}
                                        
                </div>
                    
                </div>
                <div class="col-lg-2">
                    <div class="blog-right" style="">
            <div class="blog-search">
                <input type="text" class="text" placeholder="Search" onkeypress="return onKeyPress(event)">
                <button class="iconfont icon_search" id="blog-search-submit"></button>
            </div>
            <div class="blog-subscribe">
    <span>Subscribe to our blog</span>
    <p>To get the latest and most quality design resources!</p>
    <div class="subscribe">
        <input type="text" class="text" placeholder="Email address" id="subscribe-email">
        <button id="subscribe">Sign me up</button>
    </div>
    <div class="subscribe-success">
        <p>Thank you for your support!</p>
        <div class="share-subscribe">
            Also share on :
            <img src="/enUS/images/Blog_3.png" id="twitter" data-src="/enUS/images/Blog_3.png" alt="">
            <img src="/enUS/images/Blog_4.png" id="facebook" data-src="/enUS/images/Blog_4.png" alt="">
            <img src="/enUS/images/Blog_5.png" id="ins" data-src="/enUS/images/Blog_5.png" alt="">
        </div>
    </div>
</div>
<div class="blog-article-sort">
    <div class="selbox">
        <span id="scale">Category</span>
        <i class="iconfont icon_down_arrow"></i>
    </div>
    <div class="menu-list" style="display: none;">
        <ul>
            
                <li class="scale-item"><a href="/blog/category/inside-mockplus">Inside Mockplus</a></li>
            
                <li class="scale-item"><a href="/blog/category/ui-design">UI design</a></li>
            
                <li class="scale-item"><a href="/blog/category/ux-design">UX design</a></li>
            
                <li class="scale-item"><a href="/blog/category/design-and-prototyping-tools">Design and Prototyping tools</a></li>
            
                <li class="scale-item"><a href="/blog/category/web-design">Web design</a></li>
            
                <li class="scale-item"><a href="/blog/category/mobile-design">Mobile design</a></li>
            
                <li class="scale-item"><a href="/blog/category/interaction-design">Interaction design</a></li>
            
                <li class="scale-item"><a href="/blog/category/product-design">Product design</a></li>
            
                <li class="scale-item"><a href="/blog/category/news-and-events-of-ux-design">News and Events of UX design</a></li>
            
                <li class="scale-item"><a href="/blog/category/ux-design-guest-post">UX design guest post</a></li>
            
        </ul>
    </div>
</div>

<div class="blog-recommend-article">
    <h5>POPULAR POST</h5>
    <div class="list">
        <a href="https://www.mockplus.com/blog/post/free-quick-wireframe-tools" target="_blank">
            <div class="pic" style="background-image: url('https://file.mockplus.com/image/2017/08/d867f0bb-28e8-4d53-bc32-a5551d24b3a2.jpg')"></div>
            <span>6 Free Quick Wireframe Tools For UI/UX Designers in 2019</span>
        </a>
        <a href="https://www.mockplus.com/blog/post/website-mockup-tools" target="_blank">
            <div class="pic" style="background-image: url('https://file.mockplus.com/image/2018/09/c06edb9b-818a-4a8a-a446-1c0635c2e6e0.png')"></div>
            <span>Top 6 Free Website Mockup Tools for Your Next Design Project</span>
        </a>
        <a href="https://www.mockplus.com/blog/post/login-page-examples" target="_blank">
            <div class="pic" style="background-image: url('https://file.mockplus.com/image/2019/05/602ba7d7-2716-485a-bd30-a36a3402fc94.png')"></div>
            <span>20 Best Login Page Examples and Responsive Templates [FREE DOWNLOAD]</span>
        </a>
        <a href="https://www.mockplus.com/blog/post/free-online-portfolio-websites" target="_blank">
            <div class="pic" style="background-image: url('https://file.mockplus.com/image/2018/02/309f2cd3-1826-4389-a4f9-b6a8db5d3325.png')"></div>
            <span>Top 22 Free Online Portfolio Websites to Create Perfect UX/UI Design Portfolios</span>
        </a>
        <a href="https://www.mockplus.com/blog/post/android-ui-design-tool" target="_blank">
            <div class="pic" style="background-image: url('https://file.mockplus.com/image/2018/03/2f4f3d75-73ba-4707-b079-1f629dac5441.jpeg')"></div>
            <span>Top 15 Android UI Design Tools That Designers Should Not Miss</span>
        </a>
        <a href="https://www.mockplus.com/blog/post/dashboard-design" target="_blank">
            <div class="pic" style="background-image: url('https://file.mockplus.com/image/2018/12/419fbaa6-0d95-4baf-9334-3a33aecb4ae9.png')"></div>
            <span>Top 22 Free Dashboard Design Examples, Templates &amp; UI Kits for You</span>
        </a>
    </div>
</div>
<div class="blog-recommend-flex">
    <div class="warp">
        <div class="con">
            <div class="blog-recommend-more">
                <span>MOCKPLUS CLASSIC</span>
                <p>Best Prototyping Tool for Mobile, Web and Desktop Apps.</p>
                <a href="/download/mockplus-rp" target="_blank" onclick="ga('send', 'event', 'sideblog-rp', 'click', 'blog banner', 1);">Get Started for Free</a>
            </div>
            <div class="blog-recommend-more">
                <span>MOCKPLUS CLOUD</span>
                <p>Handoff Designs with Accurate Specs, Assets, Code Snippets Automatically.</p>
                <a target="_blank" href="/mockplus-idoc" onclick="ga('send', 'event', 'sideblog-idoc', 'click', 'blog banner', 1);">Get Started for Free</a>
            </div>
        </div>
    </div>
</div>

<div class="blog-recommend-article blog-recommend-article2">
    <h5>Start prototyping and collaboration</h5>
    <div class="list">
        <a href="https://help.mockplus.com/p/318" target="_blank">
            <div class="pic" style="background-image: url('/images/tutorial_1.png')"></div>
            <span>Learn design and collaboration in 3 minutes</span>
        </a>
        <a href="https://help.mockplus.com/p/209" target="_blank">
            <div class="pic" style="background-image: url('/images/tutorial_2.png')"></div>
            <span>Get the basics to start prototyping Web and Apps</span>
        </a>
    </div>
</div>

<script>
  // 搜索
  function blogSearch() {
    var region = 'blog';
    var keyword = $('.blog-search .text').val().trim();
    if (!keyword) {
    	showMessage('Search query cannot be empty!');
      return;
    }
    window.location.href = '/' + region + '/search?q=' + keyword + '&page=1';
  }

  function onKeyPress(e) {
    var keyCode = null;
    if (e.which) {
      keyCode = e.which;
    } else if (e.keyCode) {
      keyCode = e.keyCode;
    }
    if (keyCode === 13) {
      blogSearch();
      return false;
    }
    return true;
  }

  $('#blog-search-submit').click(function () {
    blogSearch();
  });
  // 订阅
  $('#subscribe').click(function () {
    var email = $('#subscribe-email').val().trim();
    if (!email) {
      showMessage('Please input your email address.');
      return
    }
    $.post('/blog/subscribe', {
      email: email
    }, function (res) {
      if (res.code !== 0) {
        showMessage(res.message);
        return;
      }
      $('.subscribe-success').show();
      $('.subscribe').hide();
    })
  });
  var URL = 'https://www.mockplus.com/blog';
  var title = 'A selection of the best product design and UX/UI design resources | Mockplus Blog';
  var image = 'https://www.mockplus.com/images/Mockplus_share.png';

  $('#twitter').click(function () {
    var url = 'https://twitter.com/intent/tweet?text=' + encodeURIComponent(title.split('|')[0]) + ' @Mockplus&related=Mockplus&url=' + URL;
    window.open(url, '_blank');
  });

  $('#facebook').click(function () {
    var url = 'http://www.facebook.com/sharer.php?u=' + URL + '&t=' + title;
    window.open(url, '_blank');
  });

  $('#ins').click(function () {
    var url = 'https://www.linkedin.com/shareArticle?mini=true&url=' + URL;
    window.open(url, '_blank');
  });

  $('.close-dlg').click(function () {
    $('.dlg').hide();
  });

  $(function () {
    // 右侧mockplus、idoc分类跟随
    var recommendFlex = $('.blog-recommend-flex');
    var blogRight = $('.blog-right');

    function controlFlex() {
      var height = blogRight.height();
      var scrollTop = blogRight.offset().top;
      var scroll = $(window).scrollTop();
      var leftHeight = $('.blog-left').height();
      if (height + scrollTop < scroll) {
        recommendFlex.addClass('flex');
        if (scroll > leftHeight - 375) {
          recommendFlex.removeClass('flex');
        }
      } else {
        recommendFlex.removeClass('flex');
      }
    }

    $(window).scroll(function () {
      controlFlex();
    });
    $(window).resize(function () {
      controlFlex();
    });
  })
</script>
<script>
	$('.selbox').click(function (e) {
		if ($('.menu-list').css('display') === 'none') {
			$('.menu-list').show();
		} else {
			$('.menu-list').hide();
		}
		e.stopPropagation();
	})

	$('.scale-item').click(function () {
		var people = $(this).text();
		$('#scale').text(people);
		$('#scale').css('color','#353030');
		$('.menu-list').hide();
	})

	$('body').click(function () {
		$('.menu-list').hide();
	})
</script>

        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog Details Area End ***** -->


{% endblock content %}

{% block script_extends %}

    <script type="text/javascript">
            function reply(reply_comment_id){
            // 设置值
            $('#reply_comment_id').val(reply_comment_id);
            var html = $("#comment_" + reply_comment_id).html();
            $('#reply_content').html(html);
            $('#reply_content_container').show();
            $('html').animate({scrollTop: $('#comment_form').offset().top - 60}, 300, function(){
                CKEDITOR.instances['id_text'].focus();
            });
        }

        $("#comment_form").submit(function(){
            $("#comment_error").text('');
            if(CKEDITOR.instances['id_text'].document.getBody().getText().trim() === ''){
                $("#comment_error").text('Comment content cannot be empty');
                return false;``
            }
        });
        $('.box').on('click', function(){
            $(".share").toggleClass('scale');
            $('div#hide').removeAttr('id');
            $('.active').toggleClass('open');
        });
        
        
        $('.share-facebook').on('click', function(){
            window.open("https://www.facebook.com/sharer/sharer.php?u=https://{{ request.get_host }}{{ article.get_absolute_url }}", "");
        });
        $('.share-linkedin').on('click', function(){
            window.open("https://www.linkedin.com/sharing/share-offsite/?url=https://{{ request.get_host }}{{ article.get_absolute_url }}", "");
        });
        $('.share-twitter').on('click', function(){
            window.open("https://twitter.com/share?text={{ article.title }}&url=https://{{ request.get_host }}/{{ article.get_absolute_url }}", "");
        });
        $('.share-email').on('click', function(){
            window.open("https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=&su={{ article.title }}&body=+https:\/\/{{ request.get_host }}{{ article.get_absolute_url }}\/+&ui=2&tf=1&pli=1");
        });
        $('.share-pinterest').on('click', function(){
            window.open("http://pinterest.com/pin/create/button/?url=https://{{ request.get_host }}/{{ article.get_absolute_url }}/&description={{article.title}}", "");
        });
    </script>
{% endblock %}


