{% extends "mysite/layout.html" %}
{% load staticfiles %}
{% block meta %}
{% load blog_tags %}
{% get_seo_info as seo_info %}
    <title>{{ seo_info.title }}—{{ seo_info.sub_title }}</title>
    <meta name="description" content="{{ seo_info.description }}"/>
    <meta name="keywords" content="{{ seo_info.keywords }}" />
{% endblock %}
{% block content %}
    <!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcrumb-area">
        <div class="container h-75">
            <div class="row h-75 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'mysite:home' %}"><i class="fa fa-home"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!-- Background Curve -->
        <div class="breadcrumb-bg-curve">
            <img src="{% static 'app/img/core-img/curve-5.png' %}" alt="">
        </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    <div class="uza-blog-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    {% block content_left %}
                    
                    {% endblock %}
            
                    <div class="row">
                        <div class="col-12 text-center">
                            {% if is_paginated %}
                
                            <nav class="Page navigation conatiner">
                                <ul class="pagination justify-content-center">
                                        <li><a href="?page=1" class="page-link"><span class="fa fa-step-backward" aria-hidden="true"></span></a></li>

                                        {% if page_obj.has_previous %}
                                            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"><span class="fa fa-chevron-left" aria-hidden="true"></span></a></li>
                                        {% else %}
                                            <li><a href="" class="page-link"><span class="fa fa-chevron-left" aria-hidden="true"></span></a></li>
                                        {% endif %}

                                        <li><span class="page-link" >{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>

                                        {% if page_obj.has_next %}
                                            <li><a class="page-link" href="?page={{ page_obj.next_page_number }}" ><span class="fa fa-chevron-right" aria-hidden="true"></span></a></li>
                                        {% else %}
                                            <li><span class="page-link"><span class="fa fa-chevron-right" aria-hidden="true"></span></span></li>
                                        {% endif %}

                                        <li><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"><span class="fa fa-step-forward" aria-hidden="true"></span></a></li>
                                </ul>
                            </nav>
                
                            {% endif %}
                                
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                        <div class = "content-sidebar">
                                {% block sidebar %}
                                    {% block toc_sidebar %}{% endblock %}

                                    {% block category_sidebar %}
                                        <div class="sidebar mb-80">
                                            <div class="title"><h3>Article Category</h3></div>
                                                <div class="git_tags">
                                                        {% get_category as categories %}
                                                        {% for category in categories %}
                                                            <a href="{{ category.get_absolute_url  }}"><span class="badge-pill">{{ category.name }}</span></a>
                                                        {% endfor %}
                                                </div>
                                        </div>

                                    {% endblock %}

                                    {% block tag_sidebar %}
                                        <div class="sidebar mb-80" >
                                            <div class="title"><h3>Popular tags</h3></div>
                                            <div class="git_tags">
                                                {% get_posts_tags as tags %}
                                                {% for tag in tags %}
                                                    <a href="{{ tag.get_absolute_url  }}"><span class="badge-pill">{{ tag.name }}</span></a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endblock %}
                                {% endblock %}
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- ***** Blog Area End ***** -->

    <!-- ***** Newsletter Area Start ***** -->
    <section class="uza-newsletter-area">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <!-- Newsletter Content -->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="nl-content mb-80">
                        <h2>Subscribe to our Newsletter</h2>
                        <p>Subscribe our newsletter gor get notification about new updates, etc...</p>
                    </div>
                </div>
                <!-- Newsletter Form -->
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="nl-form mb-80">
                        <form action="#" method="post">
                            <input type="email" name="nl-email" value="" placeholder="Your Email">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Border Bottom -->
            <div class="border-line"></div>
        </div>
    </section>
    <!-- ***** Newsletter Area End ***** -->
{%endblock%}