{% extends 'main/layout.html' %}
{% load static %}
{% load blogs_info %}
{% load job_tags %}
{% block meta %}
    <title>{{ job.title }} | {{ SITE_DESCRIPTION }}</title>
    
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ job.title }}"/>

    <meta property="og:description" content="{{ job.description|custom_markdown|striptags|truncatewords:8 }}"/>
    <meta property="og:url"
          content="{{ job.get_full_url }}"/>
    <meta property="article:published_time" content="{% datetimeformat job.created_at %}"/>
    <meta property="article:modified_time" content="{% datetimeformat job.modified_at %}"/>
    <meta property="article:author" content="{{ job.user.get_full_url }}"/>
    <meta property="article:section" content="{{ job.jobcategory.name }}"/>
    
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>

    <meta name="description" content="{{ job.description|custom_markdown|striptags|truncatewords:8 }}"/>
    
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    
    <meta property="og:image" content="{{ job.cover }}" />
    
    <meta property="og:image:alt" content="{{ job.title }}" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ SITE_NAME }}">
    <meta name="twitter:title" content="{{ job.title }}">
    <meta name="twitter:description" content="{{ job.description|custom_markdown|striptags|truncatewords:8 }}">
    <meta name="twitter:creator" content="{{ SITE_NAME }}">
    
    <meta name="twitter:image:src" content="{{ job.cover }}">
    
    <meta name="twitter:image:alt" content="{{ job.title }}" />
    <meta name="twitter:domain" content="www.agrowdev.com">
{% endblock %}
{% block compress_css %}
    <link rel="stylesheet" href="{% static 'careers/styles.css' %}">
    <link rel="stylesheet" href="{% static 'careers/styles.css' %}">
{% endblock %}
{% block content %}

    <section class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                
                  <div class="job_details_header mt-5 mb-5">
                        {% load_jobs_baseinfo job user True %}
                    </div>
                    {% load_job_detail_info job request.user %}
                    
                </div>
                <div class="col-lg-4">
                    <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Job Overview</h4>
                           </div>
                          <ul>
                              <li>Posted date : <span>{{job.created_at|date}}</span></li>
                              <li>Location : <span>{{job.location}}</span></li>
                              <li>Vacancy : <span>02</span></li>
                              <li>Job nature : <span>{% if job.jobtype == '1' %}
                                                        Full time
                                                    {% elif job.jobtype == '2' %}
                                                        Part time
                                                    {% else %}
                                                        Internship
                                                    {% endif %}</span></li>
                              <li>Salary :  <span>{{job.salary}} Monthly</span></li>
                              <li>Application date : <span>{{job.last_date|date}}</span></li>
                          </ul>
                         <div class="apply-btn2">
                            <a href="{% url 'careers:job_apply' job_id=job.id %}" class="boxed-btn3 ">Apply Now</a>
                         </div>
                       </div>
                    
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}