{% extends 'main/layout.html' %}
{% load job_tags %}
{% load static %}
{% block meta %}
    {% if tag_name %}
        <title>{{ page_type }}:{{ tag_name }} | {{ SITE_DESCRIPTION }}</title>
        {% comment %}<meta name="description" content="{{ page_type }}:{{ tag_name }}"/>{% endcomment %}
    {% else %}
        <title>{{ SITE_NAME }} Blogs | {{ SITE_DESCRIPTION }}</title>
    {% endif %}
    <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
    <meta property="og:image" content="https://www.herokucdn.com/images/og.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
{% endblock %}
{% block compress_css %}
    <link rel="stylesheet" href="{% static 'app/css/job-styles.css' %}">
{% endblock %}
{% block content %}
<style>
body.offcanvas {
    overflow-x: hidden; }
    body.offcanvas #colorlib-aside {
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
      width: 270px;
      background: #fff;
      z-index: 999;
      position: fixed; }
    body.offcanvas #colorlib-main, body.offcanvas .colorlib-nav-toggle {
      top: 50px;
      -moz-transform: translateX(270px);
      -webkit-transform: translateX(270px);
      -ms-transform: translateX(270px);
      -o-transform: translateX(270px);
      transform: translateX(270px); }
      #colorlib-page {
  width: 100%;
  overflow: hidden;
  position: relative; }

#colorlib-aside {
  padding-top: 3em;
  padding-bottom: 40px;
  padding-left: 3em;
  padding-right: 3em;
  width: 25%;
  position: fixed;
  bottom: 0;
  top: 75px;
  left: 0;
  overflow-y: scroll;
  z-index: 1001;
  background: rgba(0, 0, 0, 0.04);
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  @media (min-width: 992px) {
    #colorlib-aside {
      width: 25%; } }
  @media (max-width: 991.98px) {
    #colorlib-aside {
      width: 270px;
      -moz-transform: translateX(-270px);
      -webkit-transform: translateX(-270px);
      -ms-transform: translateX(-270px);
      -o-transform: translateX(-270px);
      transform: translateX(-270px);
      padding-top: 2em;
      background: rgba(0, 0, 0, 0.04); } }
  #colorlib-aside #colorlib-logo {
    margin-bottom: 2.5em;
    display: block;
    width: 100%;
    font-weight: 900;
    font-size: 34px; }
    @media (max-width: 991.98px) {
      #colorlib-aside #colorlib-logo {
        margin-bottom: 20px; } }
    #colorlib-aside #colorlib-logo a {
      display: inline-block;
      text-align: center;
      color: #000000; }
      #colorlib-aside #colorlib-logo a span {
        color: #cccccc; }
  #colorlib-aside #colorlib-main-menu ul {
    margin: 0;
    padding: 0; }
    #colorlib-aside #colorlib-main-menu ul li {
      margin: 0 0 15px 0;
      padding: 0;
      list-style: none;
      font-size: 16px;
      font-weight: 700; }
      #colorlib-aside #colorlib-main-menu ul li a {
        color: rgba(0, 0, 0, 0.4);
        text-decoration: none;
        position: relative;
        padding: 10px 0;
        font-family: "Montserrat", Arial, sans-serif;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        #colorlib-aside #colorlib-main-menu ul li a:after {
          content: "";
          position: absolute;
          height: 1px;
          bottom: 7px;
          left: 0;
          right: 0;
          background-color: #000000;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          -moz-transform: scaleX(0);
          -ms-transform: scaleX(0);
          -o-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
        #colorlib-aside #colorlib-main-menu ul li a:hover {
          text-decoration: none;
          color: black; }
          #colorlib-aside #colorlib-main-menu ul li a:hover:after {
            visibility: visible;
            -webkit-transform: scaleX(1);
            -moz-transform: scaleX(1);
            -ms-transform: scaleX(1);
            -o-transform: scaleX(1);
            transform: scaleX(1); }
      #colorlib-aside #colorlib-main-menu ul li.colorlib-active a {
        color: #000000; }
        #colorlib-aside #colorlib-main-menu ul li.colorlib-active a:after {
          visibility: visible;
          -webkit-transform: scaleX(1);
          -moz-transform: scaleX(1);
          -ms-transform: scaleX(1);
          -o-transform: scaleX(1);
          transform: scaleX(1); }
  #colorlib-aside .colorlib-footer {
    position: absolute;
    bottom: 40px;
    right: 1.5em;
    left: 1.5em;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 20px; }
    #colorlib-aside .colorlib-footer span {
      display: block; }
    #colorlib-aside .colorlib-footer ul {
      padding: 0;
      margin: 0; }
      #colorlib-aside .colorlib-footer ul li {
        padding: 0;
        margin: 0;
        display: inline;
        list-style: none; }
        #colorlib-aside .colorlib-footer ul li a {
          color: rgba(0, 0, 0, 0.7);
          padding: 4px; }
          #colorlib-aside .colorlib-footer ul li a:hover, #colorlib-aside .colorlib-footer ul li a:active, #colorlib-aside .colorlib-footer ul li a:focus {
            text-decoration: none;
            outline: none;
            color: #f05d23; }

#colorlib-main {
  width: 100%;
  float: right;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  @media (min-width: 992px) {
    #colorlib-main {
      width: 75%; } }

.colorlib-nav-toggle {
  cursor: pointer;
  text-decoration: none; }
  .colorlib-nav-toggle.active i::before, .colorlib-nav-toggle.active i::after {
    background: #000000; }
  .colorlib-nav-toggle.dark.active i::before, .colorlib-nav-toggle.dark.active i::after {
    background: #000000; }
  .colorlib-nav-toggle:hover, .colorlib-nav-toggle:focus, .colorlib-nav-toggle:active {
    outline: none;
    border-bottom: none !important; }
  .colorlib-nav-toggle i {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 2px;
    top: 0;
    color: #000000;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #000000;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out; }
    .colorlib-nav-toggle i::before, .colorlib-nav-toggle i::after {
      content: '';
      width: 30px;
      height: 2px;
      background: #000000;
      position: absolute;
      left: 0;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      transition: all 0.2s ease; }
  .colorlib-nav-toggle.dark i {
    position: relative;
    color: #000000;
    background: #000000;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out; }
    .colorlib-nav-toggle.dark i::before, .colorlib-nav-toggle.dark i::after {
      background: #000000;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      transition: all 0.2s ease; }

.colorlib-nav-toggle i::before {
  top: -7px; }

.colorlib-nav-toggle i::after {
  bottom: -7px; }

.colorlib-nav-toggle:hover i::before {
  top: -10px; }

.colorlib-nav-toggle:hover i::after {
  bottom: -10px; }

.colorlib-nav-toggle.active i {
  background: transparent; }

.colorlib-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.colorlib-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg); }

.colorlib-nav-toggle {
  position: fixed;
  left: -12px;
  top: 50px;
  z-index: 9999;
  cursor: pointer;
  opacity: 1;
  visibility: hidden;
  padding: 20px;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  @media (max-width: 991.98px) {
    .colorlib-nav-toggle {
      opacity: 1;
      visibility: visible; } }
</style>
  <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
  <aside id="colorlib-aside" role="complementary" class="js-fullheight" style="height: 538px;">
		{% load_job_filters %}
	</aside>
  <div id="colorlib-main">
    <div class="services-area">
        <div class="container">
            <!-- Section-tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="job-page-tittle text-center">
                        <h2 class="heading">Featured <span class="accent">Jobs</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="job_listing_area plus_padding">
        <div class="container">
        
            <div class="row">
                
                <div class="col-lg-12">
                    <div class="recent_joblist_wrap">
                        <div class="recent_joblist white-bg ">
                            <div class="row align-items-center">
                              <div class="col-md-6">
                                    <h4>Job Listing</h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="serch_cat d-flex justify-content-end">
                                        <select style="display: none;">
                                            <option data-display="Most Recent">Most Recent</option>
                                            <option value="1">Marketer</option>
                                            <option value="2">Wordpress </option>
                                            <option value="4">Designer</option>
                                        </select><div class="nice-select" tabindex="0"><span class="current">Most Recent</span><ul class="list"><li data-value="Most Recent" data-display="Most Recent" class="option selected">Most Recent</li><li data-value="1" class="option">Marketer</li><li data-value="2" class="option">Wordpress </li><li data-value="4" class="option">Designer</li></ul></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="job_lists m-0">
                        <div class="row">
                            {% for job in jobs %}
                                {% load_jobs_baseinfo job user False %}
                            {% endfor %}
                            
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pagination_wrap">
                                    <ul>
                                        <li><a href="#"> <i class="ti-angle-left"></i> </a></li>
                                        <li><a href="#"><span>01</span></a></li>
                                        <li><a href="#"><span>02</span></a></li>
                                        <li><a href="#"> <i class="ti-angle-right"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="job-page-tittle text-center">
                  <h2 class="heading">Trending  <span class="accent">this</span> month
                    </h2>
                </div>
                  {% for trending in trendings %}
                  <div class="job-listing  job-listing--last">
                      <div class="row">
                          <div class="col-md-12 col-lg-6">
                              <div class="row">
                                  <div class="col-2">
                                      <img src="{% static 'app/img/jobs/company-1.png' %}"
                                          alt="ShareBoardd " class="img-fluid">
                                  </div>
                                  <div class="col-10">
                                      <h4 class="job__title">
                                          <a href="{{ job.get_absolute_url }}">{{ trending.title }}</a>
                                      </h4>
                                      <p class="job__company">
                                          {{ trending.Jobcategory }}
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-10 col-md-3 col-lg-2 ml-auto"><i class="fa fa-map-marker job__location"></i>
                              {{ trending.location }}
                          </div>
                          <div class="col-10 col-md-3 col-lg-3 ml-auto">
                              <p>Posted {{ trending.created_at| timesince }} ago</p>
                          </div>
                          <div class="col-sm-12 col-md-2 col-lg-1">
                              <div class="job__star">
                                  <a href="#" data-toggle="tooltip" data-placement="top"
                                    title="Save to favourites" class="job__star__link">
                                      <i class="fa fa-star"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              {% endfor %}
            </div>
          </div>
        </div>
    </section>
    <section  style="background-image: url({% static 'app/img/jobs/featured1.jpg' %}); " class="section-divider section-padding2">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p style="color:white;">Start searching for your new job now! </p>
                    <a href="" class="genric-btn success large">See our job offers </a>
                </div>
            </div>
        </div>
    </section>
  </div>
{% endblock %}
