{% load blogs_info %}
{% load likes_tags %}
{% load static %}
{% csrf_token %}


                            <div class="col-lg-12 col-md-12">
                                <div class="single_jobs white-bg d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="thumb">
                                            <a href="{{ job.get_absolute_url }}">
                                                <img src="{{job.cover.url}}" height=60 width=60 alt="job.title">
                                            </a>
                                        </div>
                                        <div class="jobs_conetent">
                                            <a href="{{ job.get_absolute_url }}"><h4>{{ job.title }}</h4></a>
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location">
                                                    <p> <i class="fa fa-map-marker"></i> {{ job.location }}</p>
                                                </div>
                                                <div class="location">
                                                    {% if job.jobtype == '1' %}
                                                        <span class="badge featured-badge badge-success">Full time</span>
                                                    {% elif job.jobtype == '2' %}
                                                        <span class="badge featured-badge badge-primary">Part time</span>
                                                    {% else %}
                                                        <span style="color: #ffffff;" class="badge featured-badge badge-warning">Internship</span>
                                                    {% endif %}
                                                </div>
                                                <div class="location">
                                                    <p>RS {% if job.salary > 0 %} {{ job.salary }}{% else %} Negotiable {% endif %}</p>
                                                </div>
                                                <div class="location">
                                                    <p>Likes <span id="likes_count">{{ job|likes_count }}</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jobs_right">
                                        <div class="apply_now">
                                            
                                            {% content_type job as ct %}
                                            
                                                <form  id="like" action="{% url 'likes-api:toggle' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input name="id" type="hidden" value="{{job.id}}">
                                                    <input name="content_type" type="hidden" value="{{ct}}">
                                                </form>
                                            <a class="heart_mark" id="save"><i class="fa ti-heart"></i> </a>
                                            
                                            {% if not isdetail %}
                                                <a href="{{ job.get_absolute_url }}" class="boxed-btn3">View Details </a>
                                            {% endif %}
                                        </div>
                                        <div class="date">
                                            <p>Last Date:{{ job.last_date|date }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>