                
                        <div class="row">
                            <div class="col-12">
                                    <div class="small-section-tittle2 mb-45">
                                    <div class="ion"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="12px">
                                    <path fill-rule="evenodd" fill="rgb(27, 207, 107)" d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z"></path>
                                    </svg>
                                    </div>
                                    <h4>Filter Jobs</h4>
                                </div>
                            </div>
                        </div>
                        
                        <div class="job-category-listing mb-50">
                            <!-- single one -->
                            <div class="single-listing">
                               <div class="small-section-tittle2">
                                     <h4>Job Category</h4>
                               </div>
                                    
                                <!-- Select job items start -->
                                <div class="select-job-items2">
                                    <select id="category" name="position" style="display: none;">
                                        <option value="all">All Category</option>
                                        {% for cat in job_categorys %}
                                            <option value="{{cat.pk}}">{{cat.name}}</option>
                                        {% endfor %}
                                    </select><div class="nice-select" tabindex="0"><span class="current">All Category</span>
                                    <ul class="list">
                                    <li data-value="" class="option selected focus">All Category</li>
                                    {% for cat in job_categorys %}
                                        <li data-value="{{cat.pk}}" class="option">{{cat.name}}</li>
                                    {% endfor %}
                                    </ul></div>
                                </div>
                                <!--  Select job items End-->
                                <!-- select-Categories start -->
                                <div id="jobtype" class="select-Categories pt-80 pb-50">
                                    <div class="small-section-tittle2">
                                        <h4>Job Type</h4>
                                    </div>
                                    <label class="container">Full Time
                                        <input type="checkbox" value="1" name="jobtype1">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container" >Part Time
                                        <input type="checkbox" value="2" name="jobtype2">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Internship
                                        <input type="checkbox" value="3" name="jobtype3">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Remote
                                        <input type="checkbox" value="4" name="jobtyp4">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Freelance
                                        <input type="checkbox" value="5" name="jobtype5">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <!-- select-Categories End -->
                            </div>
                            <!-- single two -->
                            <div class="single-listing">
                               <div class="small-section-tittle2">
                                     <h4>Job Location</h4>
                               </div>
                                <!-- Select job items start -->
                                <div class="select-job-items2">
                                    <select id="location" name="position" style="display: none;">
                                        <option value="all">Anywhere</option>
                                        {% for loc in job_locations %}
                                            <option value="{{loc.pk}}">{{loc.location}}</option>
                                        {% endfor %}
                                    </select><div class="nice-select" tabindex="0"><span class="current">Anywhere</span>
                                    <ul class="list">
                                    <li data-value="" class="option selected focus">Anywhere</li>
                                    {% for loc in job_locations %}
                                        <li data-value="{{loc.pk}}" class="option">{{loc.location}}</li>
                                    {% endfor %}
                                    </ul></div>
                                </div>
                                <!--  Select job items End-->
                                <!-- select-Categories start -->
                                <div class="select-Categories pt-80 pb-50">
                                    <div class="small-section-tittle2">
                                        <h4>Experience</h4>
                                    </div>
                                    <label class="container">1-2 Years
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">2-3 Years
                                        <input type="checkbox" checked="checked active">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">3-6 Years
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">6-more..
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <!-- select-Categories End -->
                            </div>
                            <!-- single three -->
                            <div class="single-listing">
                                <!-- select-Categories start -->
                                <div class="select-Categories pb-50">
                                    <div class="small-section-tittle2">
                                        <h4>Posted Within</h4>
                                    </div>
                                    <label class="container">Any
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Today
                                        <input type="checkbox" checked="checked active">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Last 2 days
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Last 3 days
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Last 5 days
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Last 10 days
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <!-- select-Categories End -->
                            </div>
                        </div>
                